<div align="center">
  <a href="/">  <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fcsoagoz5mj30m808cabc.jpg"  style="width:400px; height:150px;" alt=""></a>
</div>
<h2>订单列表 </h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>生成时间</th>

    </tr>
  </thead>
  <tbody>

    <% @orders.each do |order| %>
    <tr>
      <td> <%= link_to(order.id, order_path(order.token)) %> </td>
      <td> <%= order.created_at.to_s(:long) %> </td>
    </tr>
    <% end %>

  </tbody>
</table>
