<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="lp-version" content="v6.6.7">
      <!--d13f12d9-bb28-44fb-8964-d7371a102596 a-->
<title></title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style title="page-styles" type="text/css" data-page-type="main_desktop">
body { color:#495b60; }
a {
  color:#24b56e;
  text-decoration:none;
}
#lp-pom-image-82-holder {
  background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/9f3ae345-fullsizerender-19_02k02d02d02d003000.jpg);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-image-83-holder {
  background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/08a243aa-img-3178_02e02e02d02d000000.JPG);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-image-173-holder {
  background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/444efeca-images_03k02d02d02c00k000.jpeg);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-image-174-holder {
  background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/a8ddcd8e-ahr0cdovl2ltzzeuaw1ndg4uymrpbwcuy29tl2l0l3u9mtc0ntewode3niw3mzyyoti3mjcmzm09mjmmz3a9mc5qcgc-_03t02h02h02h00n000.jpg);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-image-175-holder {
  background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/f2907ccf-1425535703740-cyrdurban1-ecommerce-p4-468612_03v02d02d02d00p000.jpg);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-image-189-holder {
  background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/2d9f6dea-006tkftcgy1fd8ll90glej318s0h075x_06j02h06j02h000000.jpg);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-image-191-holder {
  background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/5b5ac410-snip20170305-56_0a506109y05x000000.png);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-image-192-holder {
  background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/98d84192-snip20170305-58_07w06207p05x000000.png);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-image-193-holder {
  background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/adff9716-snip20170305-57_09t05y09p05x000000.png);
  position:absolute;
  left:-1000000;
  visibility:none;
}
#lp-pom-root {
  display:block;
  background:rgba(255,255,255,1);
  -pie-background:rgba(255,255,255,1);
  border-style:none;
  margin:auto;
  padding-top:0px;
  behavior:url(/PIE.htc);
  border-radius:0px;
  min-width:940px;
  height:3319px;
}
#lp-pom-block-8 {
  display:block;
  background:rgba(255,255,255,1);
  -pie-background:rgba(255,255,255,1);
  border-style:none;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
  behavior:url(/PIE.htc);
  border-radius:0px;
  width:940px;
  height:100px;
  position:relative;
}
#lp-pom-image-189 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:352px;
  top:11px;
  z-index:25;
  position:absolute;
}
#lp-pom-block-9 {
  display:block;
  background:rgba(36,65,75,0);
  background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/a29bf7db-c31cd86c-9cf0-4e6e-bd4f-f0cc0a42130b.jpg);
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-position:center top;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  -ms-behavior:url(//d9hhrg4mnvzow.cloudfront.net/backgroundsize.min.htc);
  behavior:url(//d9hhrg4mnvzow.cloudfront.net/backgroundsize.min.htc);
  border-style:none;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
  border-radius:0px;
  width:100%;
  height:688px;
  position:relative;
}
#lp-pom-text-30 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:38px;
  top:342px;
  z-index:10;
  width:848px;
  height:77px;
  position:absolute;
}
#lp-pom-text-31 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:142px;
  top:414px;
  z-index:9;
  width:640px;
  height:45px;
  position:absolute;
}
#lp-pom-button-32 {
  display:block;
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:5px;
  left:382px;
  top:509px;
  z-index:6;
  width:160px;
  height:50px;
  position:absolute;
  background:rgba(181,36,53,0.8);
  -pie-background:rgba(181,36,53,0.8);
  box-shadow:none;
  text-shadow:none;
  color:#fff;
  border-width:undefinedpx;
  border-color:#undefined;
  font-size:20px;
  line-height:24px;
  font-weight:bold;
  font-family:Roboto;
  text-align:center;
  background-repeat:no-repeat;
}
#lp-pom-block-14 {
  display:block;
  background:rgba(255,255,255,1);
  -pie-background:rgba(255,255,255,1);
  border-style:none none solid none;
  border-width:1px;
  border-color:#f3f3f3;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:139px;
  behavior:url(/PIE.htc);
  border-radius:0px;
  width:100%;
  height:615px;
  position:relative;
}
#lp-pom-box-23 {
  display:block;
  background:rgba(179,159,122,1);
  -pie-background:rgba(179,159,122,1);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:61px;
  left:443px;
  top:861px;
  z-index:5;
  width:53px;
  height:3px;
  position:absolute;
}
#lp-pom-text-24 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:223px;
  top:932px;
  z-index:4;
  width:493px;
  height:190px;
  position:absolute;
}
#lp-pom-box-160 {
  display:block;
  background:rgba(179,159,122,1);
  -pie-background:rgba(179,159,122,1);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:61px;
  left:443px;
  top:1453px;
  z-index:14;
  width:53px;
  height:3px;
  position:absolute;
}
#lp-pom-text-179 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:172px;
  top:874px;
  z-index:23;
  width:595px;
  height:58px;
  position:absolute;
}
#lp-pom-image-191 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:258px;
  top:1190px;
  z-index:26;
  position:absolute;
}
#lp-pom-image-192 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:-19px;
  top:1190px;
  z-index:27;
  position:absolute;
}
#lp-pom-image-193 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:616px;
  top:1190px;
  z-index:28;
  position:absolute;
}
#lp-pom-block-169 {
  display:block;
  background:rgba(255,255,255,1);
  -pie-background:rgba(255,255,255,1);
  border-style:none none solid none;
  border-width:1px;
  border-color:#f3f3f3;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:85px;
  behavior:url(/PIE.htc);
  border-radius:0px;
  width:100%;
  height:310px;
  position:relative;
}
#lp-pom-text-170 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:1px;
  top:1693px;
  z-index:15;
  width:247px;
  height:94px;
  position:absolute;
}
#lp-pom-text-171 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:348px;
  top:1693px;
  z-index:16;
  width:235px;
  height:110px;
  position:absolute;
}
#lp-pom-text-172 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:700px;
  top:1693px;
  z-index:17;
  width:232px;
  height:110px;
  position:absolute;
}
#lp-pom-image-173 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:418px;
  top:1598px;
  z-index:18;
  position:absolute;
}
#lp-pom-image-174 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:767px;
  top:1598px;
  z-index:19;
  position:absolute;
}
#lp-pom-image-175 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:80px;
  top:1598px;
  z-index:20;
  position:absolute;
}
#lp-pom-text-176 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:172px;
  top:1471px;
  z-index:21;
  width:595px;
  height:58px;
  position:absolute;
}
#lp-pom-box-177 {
  display:block;
  background:rgba(179,159,122,1);
  -pie-background:rgba(179,159,122,1);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:61px;
  left:445px;
  top:1877px;
  z-index:22;
  width:53px;
  height:3px;
  position:absolute;
}
#lp-pom-block-10 {
  display:block;
  background:rgba(255,255,255,1);
  -pie-background:rgba(255,255,255,1);
  border-style:none none solid none;
  border-width:1px;
  border-color:#f3f3f3;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
  behavior:url(/PIE.htc);
  border-radius:0px;
  width:100%;
  height:371px;
  position:relative;
}
#lp-pom-text-25 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:172px;
  top:1892px;
  z-index:13;
  width:595px;
  height:58px;
  position:absolute;
}
#lp-pom-text-62 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:180px;
  top:2098px;
  z-index:11;
  width:221px;
  height:102px;
  position:absolute;
}
#lp-pom-text-63 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:609px;
  top:2098px;
  z-index:7;
  width:232px;
  height:68px;
  position:absolute;
}
#lp-pom-image-82 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:168px;
  top:2046px;
  z-index:12;
  position:absolute;
}
#lp-pom-image-83 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  left:589px;
  top:2046px;
  z-index:8;
  position:absolute;
}
#lp-pom-button-180 {
  display:block;
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:5px;
  left:395px;
  top:2228px;
  z-index:24;
  width:150px;
  height:50px;
  position:absolute;
  background:rgba(181,36,53,0.8);
  -pie-background:rgba(181,36,53,0.8);
  box-shadow:none;
  text-shadow:none;
  color:#fff;
  border-width:undefinedpx;
  border-color:#undefined;
  font-size:20px;
  line-height:24px;
  font-weight:bold;
  font-family:Roboto;
  text-align:center;
  background-repeat:no-repeat;
}
#lp-pom-block-12 {
  display:block;
  background:rgba(255,255,255,1);
  -pie-background:rgba(255,255,255,1);
  border-style:none none solid none;
  border-width:1px;
  border-color:#f3f3f3;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
  behavior:url(/PIE.htc);
  border-radius:0px;
  width:100%;
  height:727px;
  position:relative;
}
#lp-pom-text-16 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:172px;
  top:2389px;
  z-index:3;
  width:595px;
  height:58px;
  position:absolute;
}
#lp-pom-box-17 {
  display:block;
  background:rgba(179,159,122,1);
  -pie-background:rgba(179,159,122,1);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:61px;
  left:443px;
  top:2373px;
  z-index:2;
  width:53px;
  height:3px;
  position:absolute;
}
#lp-pom-text-18 {
  display:block;
  background:rgba(255,255,255,0);
  -pie-background:rgba(255,255,255,0);
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  left:89px;
  top:2458px;
  z-index:1;
  width:762px;
  height:485px;
  position:absolute;
}
#lp-pom-block-13 {
  display:block;
  background:rgba(255,255,255,1);
  -pie-background:rgba(255,255,255,1);
  border-style:none;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
  behavior:url(/PIE.htc);
  border-radius:0px;
  width:100%;
  height:280px;
  position:relative;
}
#lp-pom-root .lp-positioned-content {
  top:0px;
  width:940px;
  margin-left:-470px;
}
#lp-pom-block-8 .lp-pom-block-content {
  margin-left:auto;
  margin-right:auto;
  width:940px;
  height:100px;
}
#lp-pom-block-9 .lp-pom-block-content {
  margin-left:auto;
  margin-right:auto;
  width:940px;
  height:688px;
}
#lp-pom-block-14 .lp-pom-block-content {
  margin-left:auto;
  margin-right:auto;
  width:940px;
  height:615px;
}
#lp-pom-block-169 .lp-pom-block-content {
  margin-left:auto;
  margin-right:auto;
  width:940px;
  height:310px;
}
#lp-pom-block-10 .lp-pom-block-content {
  margin-left:auto;
  margin-right:auto;
  width:940px;
  height:371px;
}
#lp-pom-block-12 .lp-pom-block-content {
  margin-left:auto;
  margin-right:auto;
  width:940px;
  height:727px;
}
#lp-pom-button-32:hover {
  background:rgba(172,27,41,0.8);
  -pie-background:rgba(172,27,41,0.8);
  box-shadow:none;
  color:#fff;
}
#lp-pom-button-32:active {
  background:rgba(163,23,35,0.8);
  -pie-background:rgba(163,23,35,0.8);
  box-shadow:none;
  color:#fff;
}
#lp-pom-button-32 .label { margin-top:-12px; }
#lp-pom-image-82 .lp-pom-image-container {
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  width:85px;
  height:85px;
}
#lp-pom-image-82 .lp-pom-image-container img {
  width:85px;
  height:85px;
}
#lp-pom-image-83 .lp-pom-image-container {
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  width:85px;
  height:85px;
}
#lp-pom-image-83 .lp-pom-image-container img {
  width:85px;
  height:85px;
}
#lp-pom-block-13 .lp-pom-block-content {
  margin-left:auto;
  margin-right:auto;
  width:940px;
  height:280px;
}
#lp-pom-image-173 .lp-pom-image-container {
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  width:85px;
  height:84px;
}
#lp-pom-image-173 .lp-pom-image-container img {
  width:85px;
  height:84px;
}
#lp-pom-image-174 .lp-pom-image-container {
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  width:89px;
  height:89px;
}
#lp-pom-image-174 .lp-pom-image-container img {
  width:89px;
  height:89px;
}
#lp-pom-image-175 .lp-pom-image-container {
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  width:85px;
  height:85px;
}
#lp-pom-image-175 .lp-pom-image-container img {
  width:85px;
  height:85px;
}
#lp-pom-button-180:hover {
  background:rgba(172,27,41,0.8);
  -pie-background:rgba(172,27,41,0.8);
  box-shadow:none;
  color:#fff;
}
#lp-pom-button-180:active {
  background:rgba(163,23,35,0.8);
  -pie-background:rgba(163,23,35,0.8);
  box-shadow:none;
  color:#fff;
}
#lp-pom-button-180 .label { margin-top:-12px; }
#lp-pom-image-189 .lp-pom-image-container {
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  width:235px;
  height:89px;
}
#lp-pom-image-189 .lp-pom-image-container img {
  width:235px;
  height:89px;
}
#lp-pom-image-191 .lp-pom-image-container {
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  width:358px;
  height:213px;
}
#lp-pom-image-191 .lp-pom-image-container img {
  width:358px;
  height:213px;
}
#lp-pom-image-192 .lp-pom-image-container {
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  width:277px;
  height:213px;
}
#lp-pom-image-192 .lp-pom-image-container img {
  width:277px;
  height:213px;
}
#lp-pom-image-193 .lp-pom-image-container {
  border-style:none;
  behavior:url(/PIE.htc);
  border-radius:0px;
  width:349px;
  height:213px;
}
#lp-pom-image-193 .lp-pom-image-container img {
  width:349px;
  height:213px;
}
#lp-pom-root-color-overlay {
  position:absolute;
  background:none;
  top:0;
  width:100%;
  height:3319px;
  min-height:100%;
}
#lp-pom-block-8-color-overlay {
  position:absolute;
  background:none;
  height:100px;
  width:940px;
}
#lp-pom-block-9-color-overlay {
  position:absolute;
  background:rgba(36,65,75,0);
  -pie-background:rgba(36,65,75,0);
  behavior:url(/PIE.htc);
  height:688px;
  width:100%;
}
#lp-pom-block-14-color-overlay {
  position:absolute;
  background:none;
  height:615px;
  width:100%;
}
#lp-pom-block-169-color-overlay {
  position:absolute;
  background:none;
  height:310px;
  width:100%;
}
#lp-pom-block-10-color-overlay {
  position:absolute;
  background:none;
  height:371px;
  width:100%;
}
#lp-pom-block-12-color-overlay {
  position:absolute;
  background:none;
  height:727px;
  width:100%;
}
#lp-pom-box-17-color-overlay {
  position:absolute;
  background:none;
  border-radius:61px;
  behavior:url(/PIE.htc);
  height:3px;
  width:53px;
}
#lp-pom-box-23-color-overlay {
  position:absolute;
  background:none;
  border-radius:61px;
  behavior:url(/PIE.htc);
  height:3px;
  width:53px;
}
#lp-pom-block-13-color-overlay {
  position:absolute;
  background:none;
  height:280px;
  width:100%;
}
#lp-pom-box-160-color-overlay {
  position:absolute;
  background:none;
  border-radius:61px;
  behavior:url(/PIE.htc);
  height:3px;
  width:53px;
}
#lp-pom-box-177-color-overlay {
  position:absolute;
  background:none;
  border-radius:61px;
  behavior:url(/PIE.htc);
  height:3px;
  width:53px;
}
</style>
<style title="page-styles" type="text/css" data-page-type="main_mobile">
@media only screen and (max-width:600px) {
  #lp-pom-image-82-holder {
    background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/9f3ae345-fullsizerender-19_02k02d02d02d003000.jpg);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-image-83-holder {
    background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/08a243aa-img-3178_02e02e02d02d000000.JPG);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-image-173-holder {
    background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/444efeca-images_03k02d02d02c00k000.jpeg);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-image-174-holder {
    background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/a8ddcd8e-ahr0cdovl2ltzzeuaw1ndg4uymrpbwcuy29tl2l0l3u9mtc0ntewode3niw3mzyyoti3mjcmzm09mjmmz3a9mc5qcgc-_03t02h02h02h00n000.jpg);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-image-175-holder {
    background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/f2907ccf-1425535703740-cyrdurban1-ecommerce-p4-468612_03v02d02d02d00p000.jpg);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-image-189-holder {
    background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/2d9f6dea-006tkftcgy1fd8ll90glej318s0h075x_06j02h06j02h000000.jpg);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-image-191-holder {
    background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/5b5ac410-snip20170305-56_0a506109y05x000000.png);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-image-192-holder {
    background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/98d84192-snip20170305-58_07w06207p05x000000.png);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-image-193-holder {
    background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/adff9716-snip20170305-57_09t05y09p05x000000.png);
    position:absolute;
    left:-1000000;
    visibility:none;
  }
  #lp-pom-text-16 {
    left:77px;
    top:2885px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    z-index:3;
    width:165px;
    height:58px;
    position:absolute;
  }
  #lp-pom-box-17 {
    left:133px;
    top:2924px;
    display:block;
    background:rgba(179,159,122,1);
    -pie-background:rgba(179,159,122,1);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:61px;
    z-index:2;
    width:53px;
    height:3px;
    position:absolute;
  }
  #lp-pom-text-18 {
    left:20px;
    top:2953px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    z-index:1;
    width:280px;
    height:760px;
    position:absolute;
  }
  #lp-pom-box-23 {
    left:134px;
    top:873px;
    display:block;
    background:rgba(179,159,122,1);
    -pie-background:rgba(179,159,122,1);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:61px;
    z-index:5;
    width:53px;
    height:3px;
    position:absolute;
  }
  #lp-pom-text-24 {
    left:20px;
    top:904px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    z-index:4;
    width:280px;
    height:262px;
    position:absolute;
  }
  #lp-pom-text-25 {
    left:48px;
    top:2426px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    z-index:13;
    width:357px;
    height:58px;
    transform:scale(0.6);
    transform-origin:0 0;
    -webkit-transform:scale(0.6);
    -webkit-transform-origin:0 0;
    position:absolute;
  }
  #lp-pom-text-30 {
    left:15px;
    top:119px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    z-index:10;
    width:432px;
    height:77px;
    transform:scale(0.67);
    transform-origin:0 0;
    -webkit-transform:scale(0.67);
    -webkit-transform-origin:0 0;
    position:absolute;
  }
  #lp-pom-text-31 {
    left:31px;
    top:232px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    z-index:9;
    width:321px;
    height:45px;
    transform:scale(0.8);
    transform-origin:0 0;
    -webkit-transform:scale(0.8);
    -webkit-transform-origin:0 0;
    position:absolute;
  }
  #lp-pom-button-32 {
    left:15px;
    top:634px;
    display:block;
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:5px;
    z-index:6;
    width:286px;
    height:67px;
    position:absolute;
    background:rgba(181,36,53,0.8);
    -pie-background:rgba(181,36,53,0.8);
    box-shadow:none;
    text-shadow:none;
    color:#fff;
    border-width:undefinedpx;
    border-color:#undefined;
    font-size:20px;
    line-height:24px;
    font-weight:bold;
    font-family:Roboto;
    text-align:center;
    background-repeat:no-repeat;
  }
  #lp-pom-text-62 {
    left:48px;
    top:2456px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    z-index:11;
    width:221px;
    height:102px;
    position:absolute;
  }
  #lp-pom-text-63 {
    left:50px;
    top:2691px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    z-index:7;
    width:232px;
    height:68px;
    position:absolute;
  }
  #lp-pom-image-82 {
    left:133px;
    top:2387px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    z-index:12;
    position:absolute;
  }
  #lp-pom-image-83 {
    left:136px;
    top:2617px;
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    z-index:8;
    position:absolute;
  }
  #lp-pom-root {
    display:block;
    background:rgba(255,255,255,1);
    -pie-background:rgba(255,255,255,1);
    border-style:none;
    margin:auto;
    padding-top:0px;
    behavior:url(/PIE.htc);
    border-radius:0px;
    min-width:320px;
    height:3422px;
  }
  #lp-pom-block-8 {
    display:block;
    background:rgba(255,255,255,1);
    -pie-background:rgba(255,255,255,1);
    border-style:none;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:100%;
    height:80px;
    position:relative;
  }
  #lp-pom-image-189 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    left:352px;
    top:11px;
    z-index:25;
    position:absolute;
  }
  #lp-pom-block-9 {
    display:block;
    background:rgba(36,65,75,0);
    background-image:url(//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/a29bf7db-c31cd86c-9cf0-4e6e-bd4f-f0cc0a42130b.jpg);
    background-repeat:no-repeat;
    background-position:center top;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    -ms-behavior:url(//d9hhrg4mnvzow.cloudfront.net/backgroundsize.min.htc);
    behavior:url(//d9hhrg4mnvzow.cloudfront.net/backgroundsize.min.htc);
    border-style:none;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    border-radius:0px;
    width:100%;
    height:669px;
    position:relative;
  }
  #lp-pom-block-14 {
    display:block;
    background:rgba(255,255,255,1);
    -pie-background:rgba(255,255,255,1);
    border-style:none none solid none;
    border-width:1px;
    border-color:#f3f3f3;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:139px;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:100%;
    height:408px;
    position:relative;
  }
  #lp-pom-box-160 {
    display:block;
    background:rgba(179,159,122,1);
    -pie-background:rgba(179,159,122,1);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:61px;
    left:10px;
    top:759px;
    z-index:14;
    width:53px;
    height:3px;
    position:absolute;
  }
  #lp-pom-text-179 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    left:10px;
    top:759px;
    z-index:23;
    width:357px;
    height:58px;
    transform:scale(0.6);
    transform-origin:0 0;
    -webkit-transform:scale(0.6);
    -webkit-transform-origin:0 0;
    position:absolute;
  }
  #lp-pom-image-191 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    left:258px;
    top:1151px;
    z-index:26;
    position:absolute;
  }
  #lp-pom-image-192 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    left:-19px;
    top:1151px;
    z-index:27;
    position:absolute;
  }
  #lp-pom-image-193 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    left:616px;
    top:1151px;
    z-index:28;
    position:absolute;
  }
  #lp-pom-block-169 {
    display:block;
    background:rgba(255,255,255,1);
    -pie-background:rgba(255,255,255,1);
    border-style:none none none none;
    border-width:1px;
    border-color:#f3f3f3;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:85px;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:100%;
    height:729px;
    position:relative;
  }
  #lp-pom-text-170 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    left:50px;
    top:1422px;
    z-index:15;
    width:247px;
    height:94px;
    position:absolute;
  }
  #lp-pom-text-171 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    left:48px;
    top:1642px;
    z-index:16;
    width:235px;
    height:110px;
    position:absolute;
  }
  #lp-pom-text-172 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    left:50px;
    top:1877px;
    z-index:17;
    width:232px;
    height:110px;
    position:absolute;
  }
  #lp-pom-image-173 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    left:133px;
    top:1573px;
    z-index:18;
    position:absolute;
  }
  #lp-pom-image-174 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    left:136px;
    top:1803px;
    z-index:19;
    position:absolute;
  }
  #lp-pom-image-175 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    left:133px;
    top:1351px;
    z-index:20;
    position:absolute;
  }
  #lp-pom-text-176 {
    display:block;
    background:rgba(255,255,255,0);
    -pie-background:rgba(255,255,255,0);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    left:48px;
    top:1612px;
    z-index:21;
    width:357px;
    height:58px;
    transform:scale(0.6);
    transform-origin:0 0;
    -webkit-transform:scale(0.6);
    -webkit-transform-origin:0 0;
    position:absolute;
  }
  #lp-pom-box-177 {
    display:block;
    background:rgba(179,159,122,1);
    -pie-background:rgba(179,159,122,1);
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:61px;
    left:10px;
    top:1307px;
    z-index:22;
    width:53px;
    height:3px;
    position:absolute;
  }
  #lp-pom-block-10 {
    display:block;
    background:rgba(255,255,255,1);
    -pie-background:rgba(255,255,255,1);
    border-style:none none none none;
    border-width:1px;
    border-color:#f3f3f3;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:100%;
    height:729px;
    position:relative;
  }
  #lp-pom-button-180 {
    display:block;
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:5px;
    left:395px;
    top:2400px;
    z-index:24;
    width:150px;
    height:67px;
    position:absolute;
    background:rgba(181,36,53,0.8);
    -pie-background:rgba(181,36,53,0.8);
    box-shadow:none;
    text-shadow:none;
    color:#fff;
    border-width:undefinedpx;
    border-color:#undefined;
    font-size:20px;
    line-height:24px;
    font-weight:bold;
    font-family:Roboto;
    text-align:center;
    background-repeat:no-repeat;
  }
  #lp-pom-block-12 {
    display:block;
    background:rgba(255,255,255,1);
    -pie-background:rgba(255,255,255,1);
    border-style:none none solid none;
    border-width:1px;
    border-color:#f3f3f3;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:100%;
    height:340px;
    position:relative;
  }
  #lp-pom-block-13 {
    display:block;
    background:rgba(255,255,255,1);
    -pie-background:rgba(255,255,255,1);
    border-style:none;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0px;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:100%;
    height:239px;
    position:relative;
  }
  body { color:#495b60; }
  a {
    color:#24b56e;
    text-decoration:none;
  }
  #lp-pom-root .lp-positioned-content {
    top:0px;
    width:320px;
    margin-left:-160px;
  }
  #lp-pom-block-8 .lp-pom-block-content {
    margin-left:auto;
    margin-right:auto;
    width:320px;
    height:80px;
  }
  #lp-pom-block-9 .lp-pom-block-content {
    margin-left:auto;
    margin-right:auto;
    width:320px;
    height:669px;
  }
  #lp-pom-block-14 .lp-pom-block-content {
    margin-left:auto;
    margin-right:auto;
    width:320px;
    height:408px;
  }
  #lp-pom-block-169 .lp-pom-block-content {
    margin-left:auto;
    margin-right:auto;
    width:320px;
    height:729px;
  }
  #lp-pom-block-10 .lp-pom-block-content {
    margin-left:auto;
    margin-right:auto;
    width:320px;
    height:729px;
  }
  #lp-pom-block-12 .lp-pom-block-content {
    margin-left:auto;
    margin-right:auto;
    width:320px;
    height:340px;
  }
  #lp-pom-button-32:hover {
    background:rgba(172,27,41,0.8);
    -pie-background:rgba(172,27,41,0.8);
    box-shadow:none;
    color:#fff;
  }
  #lp-pom-button-32:active {
    background:rgba(163,23,35,0.8);
    -pie-background:rgba(163,23,35,0.8);
    box-shadow:none;
    color:#fff;
  }
  #lp-pom-button-32 .label { margin-top:-12px; }
  #lp-pom-image-82 .lp-pom-image-container {
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:85px;
    height:85px;
  }
  #lp-pom-image-82 .lp-pom-image-container img {
    width:85px;
    height:85px;
  }
  #lp-pom-image-83 .lp-pom-image-container {
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:85px;
    height:85px;
  }
  #lp-pom-image-83 .lp-pom-image-container img {
    width:85px;
    height:85px;
  }
  #lp-pom-block-13 .lp-pom-block-content {
    margin-left:auto;
    margin-right:auto;
    width:320px;
    height:239px;
  }
  #lp-pom-image-173 .lp-pom-image-container {
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:85px;
    height:84px;
  }
  #lp-pom-image-173 .lp-pom-image-container img {
    width:85px;
    height:84px;
  }
  #lp-pom-image-174 .lp-pom-image-container {
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:89px;
    height:89px;
  }
  #lp-pom-image-174 .lp-pom-image-container img {
    width:89px;
    height:89px;
  }
  #lp-pom-image-175 .lp-pom-image-container {
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:85px;
    height:85px;
  }
  #lp-pom-image-175 .lp-pom-image-container img {
    width:85px;
    height:85px;
  }
  #lp-pom-button-180:hover {
    background:rgba(172,27,41,0.8);
    -pie-background:rgba(172,27,41,0.8);
    box-shadow:none;
    color:#fff;
  }
  #lp-pom-button-180:active {
    background:rgba(163,23,35,0.8);
    -pie-background:rgba(163,23,35,0.8);
    box-shadow:none;
    color:#fff;
  }
  #lp-pom-button-180 .label { margin-top:-12px; }
  #lp-pom-image-189 .lp-pom-image-container {
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:235px;
    height:89px;
  }
  #lp-pom-image-189 .lp-pom-image-container img {
    width:235px;
    height:89px;
  }
  #lp-pom-image-191 .lp-pom-image-container {
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:358px;
    height:213px;
  }
  #lp-pom-image-191 .lp-pom-image-container img {
    width:358px;
    height:213px;
  }
  #lp-pom-image-192 .lp-pom-image-container {
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:277px;
    height:213px;
  }
  #lp-pom-image-192 .lp-pom-image-container img {
    width:277px;
    height:213px;
  }
  #lp-pom-image-193 .lp-pom-image-container {
    border-style:none;
    behavior:url(/PIE.htc);
    border-radius:0px;
    width:349px;
    height:213px;
  }
  #lp-pom-image-193 .lp-pom-image-container img {
    width:349px;
    height:213px;
  }
  #lp-pom-root-color-overlay {
    position:absolute;
    background:none;
    top:0;
    width:100%;
    height:3422px;
    min-height:100%;
  }
  #lp-pom-block-8-color-overlay {
    position:absolute;
    background:none;
    height:80px;
    width:100%;
  }
  #lp-pom-block-9-color-overlay {
    position:absolute;
    background:rgba(36,65,75,0);
    -pie-background:rgba(36,65,75,0);
    behavior:url(/PIE.htc);
    height:669px;
    width:100%;
  }
  #lp-pom-block-14-color-overlay {
    position:absolute;
    background:none;
    height:408px;
    width:100%;
  }
  #lp-pom-block-169-color-overlay {
    position:absolute;
    background:none;
    height:729px;
    width:100%;
  }
  #lp-pom-block-10-color-overlay {
    position:absolute;
    background:none;
    height:729px;
    width:100%;
  }
  #lp-pom-block-12-color-overlay {
    position:absolute;
    background:none;
    height:340px;
    width:100%;
  }
  #lp-pom-box-17-color-overlay {
    position:absolute;
    background:none;
    border-radius:61px;
    behavior:url(/PIE.htc);
    height:3px;
    width:53px;
  }
  #lp-pom-box-23-color-overlay {
    position:absolute;
    background:none;
    border-radius:61px;
    behavior:url(/PIE.htc);
    height:3px;
    width:53px;
  }
  #lp-pom-block-13-color-overlay {
    position:absolute;
    background:none;
    height:239px;
    width:100%;
  }
  #lp-pom-box-160-color-overlay {
    position:absolute;
    background:none;
    border-radius:61px;
    behavior:url(/PIE.htc);
    height:3px;
    width:53px;
  }
  #lp-pom-box-177-color-overlay {
    position:absolute;
    background:none;
    border-radius:61px;
    behavior:url(/PIE.htc);
    height:3px;
    width:53px;
  }
}
</style>
<!-- lp:insertions start head -->
<link href="//builder-assets.unbounce.com/published/page-defaults-c1acb70.z.css" rel="stylesheet" media="screen" type="text/css">

<meta property="og:title" content="http://unbouncepages.com/test3-90/">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="//d2xxq4ijfwetlm.cloudfront.net/m/lp-webapp/api/unbounce.js"></script>
<script type="text/javascript">
window.ub.page.id = "d13f12d9-bb28-44fb-8964-d7371a102596";
window.ub.page.variantId = "a";
window.ub.page.usedAs = "main";
window.ub.page.name = "test3";
window.ub.page.url = "http://unbouncepages.com/test3-90/";
window.ub.page.dimensions = {"desktop":{"width":940,"height":3093},"mobile":{"width":320,"height":3196}};
</script>
<script type="text/javascript">
var lp = lp || {};
lp.jQuery = jQuery.noConflict( true );
</script>

<script src="//builder-assets.unbounce.com/modules/lp-block/public/main-90cd9cc.z.js" type="text/javascript"></script>
<script src="//builder-assets.unbounce.com/published/matchMedia-ba7af92.z.js" type="text/javascript"></script>
<script src="//builder-assets.unbounce.com/modules/lp-text/public/main-784af76.z.js" type="text/javascript"></script>
<script src="//builder-assets.unbounce.com/modules/lp-button/public/main-d9cd5d4.z.js" type="text/javascript"></script>
<script src="//builder-assets.unbounce.com/modules/lp-image/public/main-8ff2ac3.z.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<link href="//assets.unbounce.com/m/lp-webapp/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css" media="screen" rel="stylesheet" type="text/css">
<script src="//assets.unbounce.com/m/lp-webapp/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Cabin:400,400italic,700,700italic%7CRoboto:400,400italic,700,700italic%7CRoboto:400,400italic,700,700italic"><script>
lp = lp || {};
lp.webFontLoad = {
  google: {
    families: ['Cabin:400,400italic,700,700italic','Roboto:400,400italic,700,700italic','Roboto:400,400italic,700,700italic']
  },
  active: function() {
   if(lp && lp.text && typeof lp.text.fixTextHeights === "function")  {
     lp.text.fixTextHeights();
   }
  }
};
window.WebFont.load(lp.webFontLoad);
</script>
<!--[if IE 7]>
<script>
(function() {
  var sheet = document.styleSheets[1];
  var rules = sheet.rules;
  var rule;
  var index = -1;
  for (var i=0, l=rules.length; i<l; i++){
    rule = rules[i];
    if (rule.selectorText.toLowerCase() == 'div.lp-pom-root .lp-pom-text span') {
      index = i;
      break;
    }
  }
  if (index > -1) {
    sheet.removeRule(index);
    sheet.addRule('div.lp-pom-root .lp-pom-text span', 'line-height:inherit');
  }
})();
</script>
<![endif]-->

<script src="//builder-assets.unbounce.com/published/ub-browser-879f873.z.js" type="text/javascript"></script>

<!-- lp:insertions end head -->
<style type="text/css">@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {* {-webkit-text-size-adjust: none;}}</style></head>

<body class="lp-pom-body ">
<!-- lp:insertions start body:before -->
<!-- lp:insertions end body:before -->
<div class="lp-element lp-pom-root" id="lp-pom-root">
<div id="lp-pom-root-color-overlay"></div>
<div class="lp-positioned-content">
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-16" style="height: auto;">
<p class="lplh-42" style="text-align: center;">
<span style="font-size: 20px; color: rgb(0, 0, 0);"><strong>常见问题</strong></span>
</p>
</div>
<div class="lp-element lp-pom-box" id="lp-pom-box-17">
<div id="lp-pom-box-17-color-overlay"></div>
</div>
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-18" style="height: auto;">
<p>
<strong><span style="color: rgb(0, 0, 0);">食品类商品什么情况下支持退换货？</span></strong>
</p>
<p>
<span style="color: rgb(0, 0, 0);"><span style="font-size: 13px;">为了维护消费者的权益，江南品味出售的食品除明确质量问题外均不接受退换货，敬请谅解。</span></span>
</p>
<p>
<span style="color: rgb(0, 0, 0);"><strong>购买运费如何收取？</strong></span>
</p>
<p>
<span style="color: rgb(0, 0, 0); font-size: 13px;">单笔订单金额（不含运费）满88元免邮费；不满88元，每单收取10元运费。</span>
</p>
<p>
<span style="color: rgb(0, 0, 0);"><strong>使用什么快递发货？</strong></span>
</p>
<p>
<span style="color: rgb(0, 0, 0);"><span style="font-size: 13px;">江南品味默认使用顺丰快递发货（个别商品使用其他快递），配送范围覆盖全国大部分地区（港澳台地区除外）。</span></span>
</p>
<p>
<span style="color: rgb(0, 0, 0);"><strong>如何申请退货？</strong></span>
</p>
<ol>
<li>
<span style="color: rgb(0, 0, 0);">自收到商品之日起30日内，顾客可申请无忧退货，退款将原路返还，不同的银行处理时间不同，预计1-5个工作日到账；</span>
</li>
<li>
<span style="color: rgb(0, 0, 0);">内裤和食品等特殊商品无质量问题不支持退货</span>
</li>
<li>
<span style="color: rgb(0, 0, 0);">退货流程：确认收货-申请退货-客服审核通过-用户寄回商品-仓库签收验货-退款审核-退款完成；</span>
</li>
<li>
<span style="color: rgb(0, 0, 0);">因江南品味产生的退货，如质量问题，退货邮费由江南品味承担，退款完成后会以现金券的形式报销。因客户个人原因产生的退货，购买和寄回运费由客户个人承担。</span>
</li>
</ol>
<p>
<span style="color: rgb(0, 0, 0);"><strong>如何开具发票？</strong></span>
</p>
<ol>
<li>
<span style="color: rgb(0, 0, 0);">如需开具普通发票，请在下单时选择“我要开发票”并填写相关信息；</span>
</li>
<li>
<span style="color: rgb(0, 0, 0);">如需开具增值税专用发票，请在购买后联系客服办理；</span>
</li>
<li>
<span style="color: rgb(0, 0, 0);">可选开票内容：</span><span style="color: rgb(0, 0, 0);">食品、酒/饮料；订单商品为礼品卡--预付卡。</span>
</li>
</ol>
</div>
<div class="lp-element lp-pom-box" id="lp-pom-box-23">
<div id="lp-pom-box-23-color-overlay"></div>
</div>
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-24" style="height: auto;">
<p style="text-align: center;">
<span style="font-family: roboto; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">从公司电脑前，到家人晚宴的灶台边，又到朋友聚会的欢笑间，</span>
</p>
<p style="text-align: center;">
<span style="background-color: rgb(255, 255, 255);"><span style="color: rgb(0, 0, 0);"><span style="font-family:roboto;">每一日，我们在不同的角色转换中步履不停。</span></span></span>
</p>
<p style="text-align: center;">
<span style="background-color: rgb(255, 255, 255);"><span style="color: rgb(0, 0, 0);"><span style="font-family:roboto;">只是再忙，也要记得给自己一段悠然的美味时光，</span></span></span>
</p>
<p style="text-align: center;">
<span style="background-color: rgb(255, 255, 255);"><span style="color: rgb(0, 0, 0);"><span style="font-family:roboto;">可以呆呆着看天空、可以翻几页书、可以拿零食陪伴一d好时光，</span></span></span>
</p>
<p style="text-align: center;">
<span style="font-family: roboto; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);">此刻你不是配偶、不是儿女、不是员工，你只是你自己。</span>
</p>
</div>
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-25" style="height: auto;">
<p class="lplh-42" style="text-align: center;">
<span style="color: rgb(0, 0, 0);"><span style="font-size: 20px; font-family: Cabin;"><strong>听听他们怎么说</strong></span></span>
</p>
</div>
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-30" style="height: auto;">
<p class="lplh-77" style="text-align: center;">
<span style="font-family: Cabin; font-size: 36px; color: rgb(0, 0, 0);">每天，偷一刻时光送自己</span>
</p>
</div>
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-31" style="height: auto;">
<p class="lplh-29" style="text-align: center;">
<span style="font-size: 16px; color: rgb(0, 0, 0);">用一颗糖让自己慢下来，来日才能走的快起来</span>
</p>
</div>
<a class="lp-element lp-pom-button" id="lp-pom-button-32" href="/products/diets" target=""><span class="label">抢购时光</span></a>
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-62" style="height: auto;">
<p class="lplh-26" style="text-align: center;">
<span style="color: rgb(0, 0, 0); font-size: 18px;"><strong>黄小厨</strong></span>
</p>
<p style="text-align: center;">
<span style="color: rgb(0, 0, 0); font-size: 14px;">“多多人儿和妹妹人儿都喜欢吃，黄小厨的闲暇时ke最优选择“</span>
</p>
</div>
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-63" style="height: auto;">
<p class="lplh-26" style="text-align: center;">
<span style="font-size: 18px;"><strong><span style="color: rgb(0, 0, 0);">美貌大王</span></strong></span>
</p>
<p class="lplh-26" style="text-align: center;">
<span style="font-size: 14px; color: rgb(0, 0, 0);">“贵，就是好！可以了“。</span>
</p>
</div>
<div class="lp-element lp-pom-image" id="lp-pom-image-82">
<div class="lp-pom-image-container" style="overflow: hidden;">
<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/9f3ae345-fullsizerender-19_02k02d02d02d003000.jpg" alt=""></div>
</div>
<div class="lp-element lp-pom-image" id="lp-pom-image-83">
<div class="lp-pom-image-container" style="overflow: hidden;">
<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/08a243aa-img-3178_02e02e02d02d000000.JPG" alt=""></div>
</div>
<div class="lp-element lp-pom-box" id="lp-pom-box-160">
<div id="lp-pom-box-160-color-overlay"></div>
</div>
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-170" style="height: auto;">
<p class="lplh-26" style="text-align: center;">
<span style="font-size: 18px; color: rgb(0, 0, 0);"><strong>极速配送</strong></span>
</p>
<p class="lplh-26" style="text-align: center;">
<span style="font-size: 14px; color: rgb(0, 0, 0);">24小时不间断服务，60分钟内同城送达，不让您的美味时光慢慢溜走</span>
</p>
</div>
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-171" style="height: auto;">
<p class="lplh-26" style="text-align: center;">
<span style="font-size: 18px; color: rgb(0, 0, 0);"><strong>场景定制</strong></span>
</p>
<p class="lplh-26" style="text-align: center;">
<span style="color: rgb(0, 0, 0); font-size: 14px;">办公小零食、聚会齐分享、随时补充能力、分享快乐</span>
</p>
</div>
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-172" style="height: auto;">
<p class="lplh-26" style="text-align: center;">
<font color="#42899d" face="lato"><span style="font-size: 18px; color: rgb(0, 0, 0);"><strong>品质保证</strong></span></font>
</p>
<p class="lplh-26" style="text-align: center;">
<span style="font-size: 14px; color: rgb(0, 0, 0);">无人工添加色素、香精，我们精选全球原料，从源头把控食品安全</span>
</p>
</div>
<div class="lp-element lp-pom-image" id="lp-pom-image-173">
<div class="lp-pom-image-container" style="overflow: hidden;">
<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/444efeca-images_03k02d02d02c00k000.jpeg" alt=""></div>
</div>
<div class="lp-element lp-pom-image" id="lp-pom-image-174">
<div class="lp-pom-image-container" style="overflow: hidden;">
<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/a8ddcd8e-ahr0cdovl2ltzzeuaw1ndg4uymrpbwcuy29tl2l0l3u9mtc0ntewode3niw3mzyyoti3mjcmzm09mjmmz3a9mc5qcgc-_03t02h02h02h00n000.jpg" alt=""></div>
</div>
<div class="lp-element lp-pom-image" id="lp-pom-image-175">
<div class="lp-pom-image-container" style="overflow: hidden;">
<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/f2907ccf-1425535703740-cyrdurban1-ecommerce-p4-468612_03v02d02d02d00p000.jpg" alt=""></div>
</div>
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-176" style="height: auto;">
<p class="lplh-42" style="text-align: center;">
<font color="#000000" face="Cabin"><span style="font-size: 20px;"><b>放心省时的美食平台</b></span></font>
</p>
</div>
<div class="lp-element lp-pom-box" id="lp-pom-box-177">
<div id="lp-pom-box-177-color-overlay"></div>
</div>
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-179" style="height: auto;">
<p class="lplh-42" style="text-align: center;">
<span style="color: rgb(0, 0, 0);"><span style="font-size: 24px; font-family: Cabin;"><sub><strong>品尝美好时光</strong></sub></span></span>
</p>
</div>
<a class="lp-element lp-pom-button" id="lp-pom-button-180" href="/products/diets" ><span class="label">即刻购买</span></a>
<div class="lp-element lp-pom-image" id="lp-pom-image-189">
<div class="lp-pom-image-container" style="overflow: hidden;">
<a href="/"><img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/2d9f6dea-006tkftcgy1fd8ll90glej318s0h075x_06j02h06j02h000000.jpg" alt=""></a></div>
</div>
<div class="lp-element lp-pom-image" id="lp-pom-image-191">
<div class="lp-pom-image-container" style="overflow: hidden;">
<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/5b5ac410-snip20170305-56_0a506109y05x000000.png" alt=""></div>
</div>
<div class="lp-element lp-pom-image" id="lp-pom-image-192">
<div class="lp-pom-image-container" style="overflow: hidden;">
<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/98d84192-snip20170305-58_07w06207p05x000000.png" alt=""></div>
</div>
<div class="lp-element lp-pom-image" id="lp-pom-image-193">
<div class="lp-pom-image-container" style="overflow: hidden;">
<img src="//d9hhrg4mnvzow.cloudfront.net/unbouncepages.com/test3-90/adff9716-snip20170305-57_09t05y09p05x000000.png" alt=""></div>
</div>
</div>
<div class="lp-element lp-pom-block" id="lp-pom-block-8">
<div id="lp-pom-block-8-color-overlay"></div>
<div class="lp-pom-block-content"></div>
</div>
<div class="lp-element lp-pom-block" id="lp-pom-block-9">
<div id="lp-pom-block-9-color-overlay"></div>
<div class="lp-pom-block-content"></div>
</div>
<div class="lp-element lp-pom-block" id="lp-pom-block-14">
<div id="lp-pom-block-14-color-overlay"></div>
<div class="lp-pom-block-content"></div>
</div>
<div class="lp-element lp-pom-block" id="lp-pom-block-169">
<div id="lp-pom-block-169-color-overlay"></div>
<div class="lp-pom-block-content"></div>
</div>
<div class="lp-element lp-pom-block" id="lp-pom-block-10">
<div id="lp-pom-block-10-color-overlay"></div>
<div class="lp-pom-block-content"></div>
</div>
<div class="lp-element lp-pom-block" id="lp-pom-block-12">
<div id="lp-pom-block-12-color-overlay"></div>
<div class="lp-pom-block-content"></div>
</div>
<div class="lp-element lp-pom-block" id="lp-pom-block-13">
<div id="lp-pom-block-13-color-overlay"></div>
<div class="lp-pom-block-content"></div>
</div>

</div>
<!-- lp:insertions start body:after -->
<script type="text/javascript">
  function updateViewport() {
    var viewport = document.querySelector('meta[name="viewport"]');
    if (viewport && window.innerWidth > 600 && window.innerWidth < 1024) {
      var defaultDeviceWidth = window.innerWidth;
      var defaultPageWidth = document.getElementById('lp-pom-root').offsetWidth;
      var calculatedScale = (defaultDeviceWidth / defaultPageWidth);
      var viewportContent = 'initial-scale=' + calculatedScale + ', user-scalable=yes';
      if (defaultDeviceWidth >= defaultPageWidth) {
        viewportContent = 'initial-scale=1.0, ' + 'width=device-width, ' + 'user-scalable=yes';
      }
      viewport.content = viewportContent;
    }
  }
  lp.jQuery(document).ready(updateViewport);
  window.addEventListener('orientationchange', updateViewport);
</script>
<script>
function disableParallaxOnMobile() {
  if (navigator.userAgent.match(/(Android|iPod|iPhone|iPad|iemobile|blackberry)/)) {
    var parallaxEls = lp.jQuery('.lp-pom-root, .lp-pom-block');
    for (i = 0; i < parallaxEls.length; i++) {
      var parallaxEl = parallaxEls[i];
      if (lp.jQuery(parallaxEl).css('background-attachment') === 'fixed') {
        parallaxEl.style['background-attachment'] = 'scroll';
      };
    };
  }
}

disableParallaxOnMobile();

window.addEventListener("orientationchange", function() {
  disableParallaxOnMobile();
}, false);
</script>

<script type="text/javascript">// See README.md for documentation
lp.jQuery().ready(function($) {
  $('input[name^=ubafs-]', 'form').remove();

  var info = JSON.stringify({
    date: new Date(),
    agent: navigator.userAgent,
    screen: {
      availWidth: screen.availWidth,
      availHeight: screen.availHeight,
      width: screen.width,
      height: screen.height
    },
    window: {
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    },
    hasPlugins: ('length' in navigator.plugins && navigator.plugins.length > 0)
  });

  var jevField = $('<input type="hidden" id="ubafs-jev" name="ubafs-jev">').val(info);
  $('form').append(jevField);
});
</script>
<!-- lp:insertions end body:after -->


<div id="fancybox-tmp"></div><div id="fancybox-loading"><div></div></div><div id="fancybox-overlay"></div><div id="fancybox-wrap"><div id="fancybox-outer"><div class="fancybox-bg" id="fancybox-bg-n"></div><div class="fancybox-bg" id="fancybox-bg-ne"></div><div class="fancybox-bg" id="fancybox-bg-e"></div><div class="fancybox-bg" id="fancybox-bg-se"></div><div class="fancybox-bg" id="fancybox-bg-s"></div><div class="fancybox-bg" id="fancybox-bg-sw"></div><div class="fancybox-bg" id="fancybox-bg-w"></div><div class="fancybox-bg" id="fancybox-bg-nw"></div><div id="fancybox-content"></div><a id="fancybox-close"></a><div id="fancybox-title"></div><a href="javascript:;" id="fancybox-left"><span class="fancy-ico" id="fancybox-left-ico"></span></a><a href="javascript:;" id="fancybox-right"><span class="fancy-ico" id="fancybox-right-ico"></span></a></div></div></body>
