<div align="center">
      <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fcsoagoz5mj30m808cabc.jpg" style="width:400px; height:150px;" alt="">
</div>

<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div id="myCarousel" class="carousel slide">
	<!-- 轮播（Carousel）指标 -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0"
			class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
	</ol>
	<!-- 轮播（Carousel）项目 -->
	<div class="carousel-inner">
		  <div class="item active"><img src="http://yanxuan.nosdn.127.net/fe84a600b046f0ad41feadac12a16f17.jpg?imageView&quality=95&thumbnail=1920x480" alt="First slide">
		    </div>
		  <div class="item"><img src="http://yanxuan.nosdn.127.net/29163ebfae3a0c6f8de4c0a4b57a4291.jpg?imageView&quality=95&thumbnail=1920x480" alt="Second slide">
		    </div>
		  <div class="item"><img src="http://yanxuan.nosdn.127.net/2d2cbae65a3816650ab2e4c38f52580a.jpg?imageView&quality=95&thumbnail=1920x480" alt="Third slide">
		    </div>
      <div class="item"><img src="http://yanxuan.nosdn.127.net/9a876d8761223fb981e0268ad140dc07.jpg?imageView&quality=95&thumbnail=1920x480" alt="Fourth slide">
       </div>
  	</div>
</div>

<!--时间变量--->
<script>

$('.carousel').carousel({
  interval: 4500
})

</script>


<!-- 品牌制造商品 -->
<div class="m-manufacturer">
  <div class="g-row">
      <div class="m-cate">
        <header class="hd">
          <div class="left">
              <h3 class="name">品牌制造商</h3>
              <br>
              <small class="frontName">工厂直达消费者，剔除品牌溢价</small>
          </div>
          <br>
             <div class="right">
              <a class="moreItems" href="/manufacturer/list?_stat_area=manufacturer_link&amp;_stat_referer=index" target="_blank">更多制造商 &gt;</a>
            </div>
        </header>

        <div class="bd">
           <div class="manufacturerList">
              <a class="manufacturer first large " href="/products/uchino">
                  <img src="http://yanxuan.nosdn.127.net/f99a82de233793a502ef420308b4df1d.jpg" data-original="http://yanxuan.nosdn.127.net/f99a82de233793a502ef420308b4df1d.jpg" alt="" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
                  <div class="mask">
                  <div class="name">内野制造商</div>
                  <div class="price">29元起</div>
                </div>
              </a>

              <a class="manufacturer large middle " href="/item/manufacturer?tagId=1001037&amp;_stat_area=mod_manufacturer_2&amp;_stat_referer=index" target="_blank">
                    <img src="http://yanxuan.nosdn.127.net/269c0628305c4785dccc1b563f3853ea.jpg" data-original="http://yanxuan.nosdn.127.net/269c0628305c4785dccc1b563f3853ea.jpg" alt="" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
                    <div class="mask">
                    <div class="name">新秀丽制造商<span class="newShelfTag">上新</span></div>
                    <div class="price">59元起</div>
                    </div>
                </a>

                <a class="manufacturer small" href="/item/manufacturer?tagId=1001000&amp;_stat_area=mod_manufacturer_3&amp;_stat_referer=index" target="_blank">
                    <img src="http://yanxuan.nosdn.127.net/71c327a469d803e76c35adf6cc888a01.jpg" data-original="http://yanxuan.nosdn.127.net/71c327a469d803e76c35adf6cc888a01.jpg" alt="" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
                    <div class="mask">
                    <div class="name">MUJI制造商</div>
                    <div class="price">12.9元起</div>
                  </div>
                </a>

                <a class="manufacturer small last" href="/item/manufacturer?tagId=1001003&amp;_stat_area=mod_manufacturer_4&amp;_stat_referer=index" target="_blank">
                    <img src="http://yanxuan.nosdn.127.net/07326d4e12780fcb825314b4de483db2.jpg" data-original="http://yanxuan.nosdn.127.net/07326d4e12780fcb825314b4de483db2.jpg" alt="" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
                    <div class="mask">
                    <div class="name">Adidas制造商</div>
                    <div class="price">49元起</div>
                    </div>
                  </a>
                </div>
              </div>
          </div>
    </div>
</div>

<!-- 新品首发 -->

<div class="m-newItem j-newItem">
  <div class="g-row">
    <div class="m-cate">
      <header class="hd">
        <div class="left">
          <h3 class="name">新品首发</h3>
          <br>
          <small class="frontName">周一周四上新，为你寻觅世间好物</small>
        </div>
        <br>
        <div class="right">
            <a class="f-fz14" href="/item/newItem?_stat_area=newItem_link&amp;_stat_referer=index" target="_blank">更多新品 &gt;</a>
        </div>
      </header>

      <div class="bd">
        <ul class="itemList">
          <div id="js-newItemSlick" class="js-newItemslick m-newItemSlick slick-initialized slick-slider">
              <div aria-live="polite" class="slick-list draggable">
                <div class="slick-track" role="listbox" style="opacity: 1; width: 2200px; transform: translate3d(0px, 0px, 0px);">

                <li class="item slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="option" aria-describedby="slick-slide20" style="width: 265px;">
                <div class="m-product j-product">
                <div class="hd">
                  <a href="/item/detail?id=1109033&amp;_stat_area=mod_newItem_item_1&amp;_stat_referer=index" title="经典格纹丝毛混纺围巾" target="_blank" tabindex="0">
                    <img src="http://yanxuan.nosdn.127.net/fef799a3c0ff93a3086f583ae258e220.jpg?imageView&amp;quality=95&amp;thumbnail=265x265" alt="经典格纹丝毛混纺围巾" class="img-lazyload img j-img2 img-lazyloaded f-hide" style="opacity: 1;">
                    </a>
                </div>
                <div class="bd">
                  <h4 class="name">
                    <a class="name" href="/item/detail?id=1109033&amp;_stat_area=mod_newItem_item_1&amp;_stat_referer=index" title="经典格纹丝毛混纺围巾" target="_blank" tabindex="0"></a>
                    <a href="/item/detail?id=1109033&amp;_stat_area=mod_newItem_item_1&amp;_stat_referer=index" title="经典格纹丝毛混纺围巾" target="_blank" tabindex="0">经典格纹丝毛混纺围巾</a>
                  </h4>
                  <p class="price">
                    <span>¥109</span>
                    <span class="sign"><a href="/item/manufacturer?tagId=1001038" tabindex="0">Coach制造商</a></span>
                  </p>
                </div>
              </div>
            </li>

            <li class="item slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="0" role="option" aria-describedby="slick-slide21" style="width: 265px;">
              <div class="m-product j-product">
                <div class="hd">
                  <a href="/item/detail?id=1108025&amp;_stat_area=mod_newItem_item_2&amp;_stat_referer=index" title="意式牛皮卡包钱包两件套" target="_blank" tabindex="0">
                    <img src="http://yanxuan.nosdn.127.net/9d73c3b47cbf74aa87e1f2256c449e5c.png?imageView&amp;quality=95&amp;thumbnail=265x265" alt="意式牛皮卡包钱包两件套" class="img-lazyload img j-img1 white img-lazyloaded" style="opacity: 1;">
                  </a>
                </div>
                <div class="bd">
                  <h4 class="name">
                    <a class="name" href="/item/detail?id=1108025&amp;_stat_area=mod_newItem_item_2&amp;_stat_referer=index" title="意式牛皮卡包钱包两件套" target="_blank" tabindex="0">
                    </a>
                    <a href="/item/detail?id=1108025&amp;_stat_area=mod_newItem_item_2&amp;_stat_referer=index" title="意式牛皮卡包钱包两件套" target="_blank" tabindex="0">意式牛皮卡包钱包两件套
                    </a>
                  </h4>
                  <p class="price">
                    <span>¥239</span>
                    <span class="sign">
                      <a href="/item/manufacturer?tagId=1033005" tabindex="0">TUMI制造商</a></span>
                    </p>
                  </div>
                </div>
              </li>

       <li class="item slick-slide slick-active" data-slick-index="1" aria-hidden="false" tabindex="0" role="option" aria-describedby="slick-slide21" style="width: 265px;">
         <div class="m-product j-product">
            <div class="hd">
                <a href="/item/detail?id=1109018&amp;_stat_area=mod_newItem_item_3&amp;_stat_referer=index" title="便携含餐具高硼硅玻璃保鲜盒" target="_blank" tabindex="0">
                  <img src="http://yanxuan.nosdn.127.net/99ed5518d3f34e89eae5a58c0ca3fad0.png?imageView&amp;quality=95&amp;thumbnail=265x265" alt="便携含餐具高硼硅玻璃保鲜盒" class="img-lazyload img j-img2 img-lazyloaded f-hide" style="opacity: 1;">
                </a>
              </div>
              <div class="bd">
                <h4 class="name">
                  <a class="name" href="/item/detail?id=1109018&amp;_stat_area=mod_newItem_item_3&amp;_stat_referer=index" title="便携含餐具高硼硅玻璃保鲜盒" target="_blank" tabindex="0">
                    </a>
                      <a href="/item/detail?id=1109018&amp;_stat_area=mod_newItem_item_3&amp;_stat_referer=index" title="便携含餐具高硼硅玻璃保鲜盒" target="_blank" tabindex="0">便携含餐具高硼硅玻璃保鲜盒
                      </a>
                    </h4>
                    <p class="price">
                      <span>¥29.9</span>
                    </p>
                  </div>
                </div>
            </li>
          <li class="item slick-slide slick-active" data-slick-index="3" aria-hidden="false" tabindex="0" role="option" aria-describedby="slick-slide23" style="width: 265px;">
              <div class="m-product j-product">
                <div class="hd">
                  <a href="/item/detail?id=1127003&amp;_stat_area=mod_newItem_item_4&amp;_stat_referer=index" title="AB面独立弹簧床垫 进口乳胶" target="_blank" tabindex="0">
                    <img src="http://yanxuan.nosdn.127.net/6bd1ea1d237244d05e8fafea82f90c5b.jpg?imageView&amp;quality=95&amp;thumbnail=265x265" alt="AB面独立弹簧床垫 进口乳胶" class="img-lazyload img j-img2 img-lazyloaded f-hide" style="opacity: 1;">
                  </a>
                </div>
                <div class="bd">
                  <h4 class="name">
                    <a class="name" href="/item/detail?id=1127003&amp;_stat_area=mod_newItem_item_4&amp;_stat_referer=index" title="AB面独立弹簧床垫 进口乳胶" target="_blank" tabindex="0">
                    </a>
                    <a href="/item/detail?id=1127003&amp;_stat_area=mod_newItem_item_4&amp;_stat_referer=index" title="AB面独立弹簧床垫 进口乳胶" target="_blank" tabindex="0">AB面独立弹簧床垫 进口乳胶
                    </a>
                  </h4>
                  <p class="price">
                    <span>¥2599</span>
                    <span class="sign">
                      <a href="/item/manufacturer?tagId=1032000" tabindex="0">慕思制造商</a>
                      </span>
                    </p>
                    </div>
                  </div>
                  </li>
                  </div>
                  </div>
                </ul>
              </div>
              </div>
            </div>
          </div>
        </div>

<!-- 限时抢购 -->

<div id="flashSaleContainer">
    <div class="m-flashSale">
      <div class="g-row">
          <header class="hd">
           <h3 class="left">限时购</h3>
            <a href="/flashSale/index?_stat_area=mod_limit_more&amp;_stat_referer=index" target="_blank" class="right">更多抢购&nbsp;&gt;</a>
          </header>
                <section class="bd">
                  <div class="flashSaleLt">
                    <div class="screenHd">18点场</div>
                        <div class="line"></div>
                          <div class="screenEndTips">距离结束还剩</div>
                          <div class="m-countDown">
                         <span class="w-cd j-hour">03</span>
                         <span class="colon">:</span>
                        <span class="w-cd j-minute">06</span>
                      <span class="colon">:</span>
                     <span class="w-cd j-second">41</span>
                    </div>
                    <span class="seeMoreBtn">查看全部&nbsp;&gt;</span>
                 <a href="/flashSale/index?_stat_area=mod_limit_item_0&amp;_stat_referer=index" target="_blank" class="link"></a>
              </div>
                  <div class="flashSaleRt flashItemList" id="flashItemList">
                    <section class="m-flashSaleProduct flashSaleItem-1">
                       <div class="lt">
                          <a href="/item/detail?id=1010001&amp;_stat_area=mod_limit_item_1&amp;_stat_referer=index" class="picIn" target="_blank" title="澳洲纯羊毛盖毯" 舒适款="">
                    <img src="http://yanxuan.nosdn.127.net/a8b0a5def7d64e411dd98bdfb1fc989b.png?imageView&amp;quality=95&amp;thumbnail=180x180" alt="澳洲纯羊毛盖毯" 舒适款="" class="pic">
                     </a>
                     </div>
                  <div class="rt">
                   <h2 class="itemName">
                     <a href="/item/detail?id=1010001&amp;_stat_area=mod_limit_item_1&amp;_stat_referer=index" target="_blank" class="link">澳洲纯羊毛盖毯  舒适款</a>
                   </h2>
                       <p class="itemDes">100%澳洲美利奴羊毛</p>
                         <div class="itemNum">
                            <div class="numBar">
                              <div class="numBarIn hasSellVolume" style="width: 150px"></div></div>
                                <div class="numTips">还剩100件</div>
                                  </div>
                                  <div class="itemPrice">
                                <span class="aPrice">限时价<span class="yuan">¥</span><span class="aPriceIn bold">219</span></span>
                            <span class="oPrice">原价&nbsp;<span class="oPriceIn">¥299</span></span>
                          </div>
                      <a class="w-btn tobuyBtn" target="_blank" href="/item/detail?id=1010001&amp;_stat_area=mod_limit_item_1&amp;_stat_referer=index">立即抢购</a>
                    </div>
                </section>
                <section class="m-flashSaleProduct flashSaleItem-2">
                   <div class="lt">
                       <a href="/item/detail?id=1085012&amp;_stat_area=mod_limit_item_2&amp;_stat_referer=index" class="picIn" target="_blank" title="弹力防水潜水料MAC包">
                            <img src="http://yanxuan.nosdn.127.net/5788c8a73b845bab4deeb5ad6ef4c53b.png?imageView&amp;quality=95&amp;thumbnail=180x180" alt="弹力防水潜水料MAC包" class="pic"> </a>
                                </div>
                                <div class="rt">
                                 <h2 class="itemName"><a href="/item/detail?id=1085012&amp;_stat_area=mod_limit_item_2&amp;_stat_referer=index" target="_blank" class="link">弹力防水潜水料MAC包</a></h2>
                                     <p class="itemDes">防水防震，精致耐用</p>
                                       <div class="itemNum">
                                        <div class="numBar">
                                          <div class="numBarIn hasSellVolume" style="width: 150px"></div>
                                            </div>
                                         <div class="numTips">还剩100件</div>
                                      </div>
                                    <div class="itemPrice">
                                    <span class="aPrice">限时价<span class="yuan">¥</span><span class="aPriceIn bold">48</span></span>
                                  <span class="oPrice">原价&nbsp;<span class="oPriceIn">¥59</span></span>
                                </div>
                               <a class="w-btn tobuyBtn" target="_blank" href="/item/detail?id=1085012&amp;_stat_area=mod_limit_item_2&amp;_stat_referer=index">立即抢购</a>
                             </div>
                           </section>
                      <section class="m-flashSaleProduct flashSaleItem-3">
                           <div class="lt">
                               <a href="/item/detail?id=1026003&amp;_stat_area=mod_limit_item_3&amp;_stat_referer=index" class="picIn" target="_blank" title="孕产妇哺乳文胸内裤套装">
                                   <img src="http://yanxuan.nosdn.127.net/f28e44ecbbffdd7c34b7258583a4c37f.png?imageView&amp;quality=95&amp;thumbnail=180x180" alt="孕产妇哺乳文胸内裤套装" class="pic">
                                    </a>
                                      </div>
                                       <div class="rt">
                                         <h2 class="itemName">
                                           <a href="/item/detail?id=1026003&amp;_stat_area=mod_limit_item_3&amp;_stat_referer=index" target="_blank" class="link">孕产妇哺乳文胸内裤套装</a></h2>
                                            <p class="itemDes">纯棉透气，无钢圈防下垂</p>
                                              <div class="itemNum">
                                              <div class="numBar">
                                              <div class="numBarIn hasSellVolume" style="width: 150px"></div>
                                            </div>
                                          <div class="numTips">还剩100件</div>
                                        </div>
                                      <div class="itemPrice">
                                    <span class="aPrice">限时价<span class="yuan">¥</span><span class="aPriceIn bold">65</span></span>
                                  <span class="oPrice">原价&nbsp;<span class="oPriceIn">¥79</span></span>
                                </div>
                              <a class="w-btn tobuyBtn" target="_blank" href="/item/detail?id=1026003&amp;_stat_area=mod_limit_item_3&amp;_stat_referer=index">立即抢购</a>
                            </div>
                         </section>
                      <section class="m-flashSaleProduct flashSaleItem-4">
                             <div class="lt">
                              <a href="/item/detail?id=1081000&amp;_stat_area=mod_limit_item_4&amp;_stat_referer=index" class="picIn" target="_blank" title="北欧风珊瑚绒多功能暖手枕">
                                 <img src="http://yanxuan.nosdn.127.net/cc45baafad00405699552c187c64c512.png?imageView&amp;quality=95&amp;thumbnail=180x180" alt="北欧风珊瑚绒多功能暖手枕" class="pic">
                                     </a>
                                       </div>
                                        <div class="rt">
                                             <h2 class="itemName"><a href="/item/detail?id=1081000&amp;_stat_area=mod_limit_item_4&amp;_stat_referer=index" target="_blank" class="link">北欧风珊瑚绒多功能暖手枕</a></h2>
                                             <p class="itemDes">手枕坐垫两用</p>
                                               <div class="itemNum">
                                                <div class="numBar">
                                                  <div class="numBarIn hasSellVolume" style="width: 150px"></div>
                                                  </div>
                                                  <div class="numTips">还剩100件</div>
                                                  </div>
                                                <div class="itemPrice">
                                            <span class="aPrice">限时价<span class="yuan">¥</span><span class="aPriceIn bold">34</span></span>
                                          <span class="oPrice">原价&nbsp;<span class="oPriceIn">¥49</span></span>
                                      </div>
                                  <a class="w-btn tobuyBtn" target="_blank" href="/item/detail?id=1081000&amp;_stat_area=mod_limit_item_4&amp;_stat_referer=index">立即抢购</a>
                               </div>
                             </section>
                          </div>
                         </section>
                       </div>
                    </div>
                 </div>
