
<html>
<head>
	<meta charset="utf-8">
	<title>Bootstrap 实例 - 轮播（Carousel）插件的标题</title>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="m-focus j-focus">
<div id="myCarousel" class="carousel slide">
	<!-- 轮播（Carousel）指标 -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
	</ol>
	<!-- 轮播（Carousel）项目 -->
	<div class="carousel-inner">
		<div class="item active">
			<img src="http://yanxuan.nosdn.127.net/fe84a600b046f0ad41feadac12a16f17.jpg?imageView&quality=95&thumbnail=1920x480" alt="First slide">
			<div class="carousel-caption"></div>
		</div>
		<div class="item">
			<img src="http://yanxuan.nosdn.127.net/29163ebfae3a0c6f8de4c0a4b57a4291.jpg?imageView&quality=95&thumbnail=1920x480" alt="Second slide">
			<div class="carousel-caption"></div>
		</div>
		<div class="item">
			<img src="http://yanxuan.nosdn.127.net/2d2cbae65a3816650ab2e4c38f52580a.jpg?imageView&quality=95&thumbnail=1920x480" alt="Third slide">
			<div class="carousel-caption"></div>
		</div>
    <div class="item">
			<img src="http://yanxuan.nosdn.127.net/9a876d8761223fb981e0268ad140dc07.jpg?imageView&quality=95&thumbnail=1920x480" alt="Fourth slide">
   <div class="carousel-caption"></div>
 </div>
   <div class="item">
     <img src="http://yanxuan.nosdn.127.net/6b4c14051ee8b39ccca647b689da5a55.jpg?imageView&quality=95&thumbnail=1920x480" alt="Fourth slide">
     <div class="carousel-caption"></div>
  </div>
	<!-- 轮播（Carousel）导航 -->
	<a class="carousel-control left" href="#myCarousel"
	   data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel"
	   data-slide="next">&rsaquo;</a>
</div>
</div>
</body>
</html>


<div class="m-manufacturer">
  <div class="g-row">
      <div class="m-cate">

        <header class="hd">
          <div class="left">
              <h3 class="name">品牌制造商</h3>
              <br>
              <small class="frontName">工厂直达消费者，剔除品牌溢价</small>
          </div>
          <br>
          <div class="right">
              <a class="moreItems" href="/manufacturer/list?_stat_area=manufacturer_link&amp;_stat_referer=index" target="_blank">更多制造商 &gt;</a>
          </div>
        </header>

        <div class="bd">
          <div class="manufacturerList">
              <a class="manufacturer first large " href="/item/manufacturer?tagId=1001002&amp;_stat_area=mod_manufacturer_1&amp;_stat_referer=index" target="_blank">
                  <img src="http://yanxuan.nosdn.127.net/f99a82de233793a502ef420308b4df1d.jpg" data-original="http://yanxuan.nosdn.127.net/f99a82de233793a502ef420308b4df1d.jpg" alt="" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
                  <div class="mask">
                  <div class="name">内野制造商</div>
                  <div class="price">29元起</div>
                </div>
              </a>

              <a class="manufacturer large middle " href="/item/manufacturer?tagId=1001037&amp;_stat_area=mod_manufacturer_2&amp;_stat_referer=index" target="_blank">
                    <img src="http://yanxuan.nosdn.127.net/269c0628305c4785dccc1b563f3853ea.jpg" data-original="http://yanxuan.nosdn.127.net/269c0628305c4785dccc1b563f3853ea.jpg" alt="" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
                    <div class="mask">
                    <div class="name">新秀丽制造商<span class="newShelfTag">上新</span></div>
                    <div class="price">59元起</div>
                    </div>
                </a>

                <a class="manufacturer small" href="/item/manufacturer?tagId=1001000&amp;_stat_area=mod_manufacturer_3&amp;_stat_referer=index" target="_blank">
                    <img src="http://yanxuan.nosdn.127.net/71c327a469d803e76c35adf6cc888a01.jpg" data-original="http://yanxuan.nosdn.127.net/71c327a469d803e76c35adf6cc888a01.jpg" alt="" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
                    <div class="mask">
                    <div class="name">MUJI制造商</div>
                    <div class="price">12.9元起</div>
                  </div>
                </a>

                <a class="manufacturer small last" href="/item/manufacturer?tagId=1001003&amp;_stat_area=mod_manufacturer_4&amp;_stat_referer=index" target="_blank">
                    <img src="http://yanxuan.nosdn.127.net/07326d4e12780fcb825314b4de483db2.jpg" data-original="http://yanxuan.nosdn.127.net/07326d4e12780fcb825314b4de483db2.jpg" alt="" class="j-lazyload img-lazyload img img-noBgPic img-lazyloaded">
                    <div class="mask">
                    <div class="name">Adidas制造商</div>
                    <div class="price">49元起</div>
                    </div>
                  </a>
                </div>
              </div>

          </div>
    </div>
</div>
