<div align="center">
    <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fcsoagoz5mj30m808cabc.jpg" style="width:400px; height:150px;" alt="">
</div>

<div id="j-manufacturer">
    <div class="g-bd-list" data-reactid=".0">
        <div class="g-row" data-reactid=".0.0">
            <div class="m-crumbs f-bcf5" data-reactid=".0.0.0">
                <span data-reactid=".0.0.0.$0">
                    <a class="crumb-url " href="/" data-reactid=".0.0.0.$0.0">首页</a>
                    <i class="w-icon w-icon-arrow gap" data-reactid=".0.0.0.$0.1"></i>
                </span>
                <span data-reactid=".0.0.0.$1">
                    <a class="crumb-url " href="/manufacturer/list" data-reactid=".0.0.0.$1.0">品牌制造商</a>
                    <i class="w-icon w-icon-arrow gap" data-reactid=".0.0.0.$1.1"></i>
                </span>
                <span data-reactid=".0.0.0.$2">
                    <span class="crumb-name z-cur" data-reactid=".0.0.0.$2.0">新秀丽制造商</span>
                    <span data-reactid=".0.0.0.$2.1"></span>
                </span>
            </div>
        </div>
        <div class="g-row" data-reactid=".0.1">
            <div class="m-manufacturer" data-reactid=".0.1.0">
                <div class="hd" data-reactid=".0.1.0.0">
                    <div class="m-manufacturerHd" style="background-image:url(http://yanxuan.nosdn.127.net/905983c88a083a464ccfb77a9d4714e0.jpg?imageView&amp;thumbnail=1090x360&amp;quality=95);" data-reactid=".0.1.0.0.0">
                        <div class="inner" data-reactid=".0.1.0.0.0.0">
                            <div class="table" data-reactid=".0.1.0.0.0.0.0">
                                <div class="cell" data-reactid=".0.1.0.0.0.0.0.0">
                                    <h3 class="title" data-reactid=".0.1.0.0.0.0.0.0.0">新秀丽制造商</h3>
                                    <p class="desc" data-reactid=".0.1.0.0.0.0.0.0.1">严选为制作品质与颜值兼具的箱包， 选定新秀丽、CK、Ricardo等品牌合作的制造商， 拥有国内先进流水线20余条，实力保障品质。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bd" data-reactid=".0.1.0.1">
                    <p class="label" data-reactid=".0.1.0.1.0">
                        <strong class="f-txt-red" data-reactid=".0.1.0.1.0.0">"新秀丽制造商"</strong>
                        <span data-reactid=".0.1.0.1.0.1">筛选结果：</span>
                    </p>
                    <div class="m-manufacturerItemListWrap" data-reactid=".0.1.0.1.1">
                        <ul class="m-itemList m-manufacturerItemList" data-reactid=".0.1.0.1.1.0">
                            <li class="item" data-reactid=".0.1.0.1.1.0.$1108033">
                                <div class="m-product j-product " data-reactid=".0.1.0.1.1.0.$1108033.0">
                                    <span data-reactid=".0.1.0.1.1.0.$1108033.0.0"></span>
                                    <div class="hd" data-reactid=".0.1.0.1.1.0.$1108033.0.1">
                                        <a href="/products/samsonite" title="英伦温莎轻雅双肩包" target="_blank" data-reactid=".0.1.0.1.1.0.$1108033.0.1.0"><img
                                            src="http://yanxuan.nosdn.127.net/35da4add90d3a6ccb2d063e90d512e92.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                            data-original="http://yanxuan.nosdn.127.net/35da4add90d3a6ccb2d063e90d512e92.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                            alt="英伦温莎轻雅双肩包"
                                            class="img img-lazyload j-lazyload  img-lazyloaded"
                                            data-reactid=".0.1.0.1.1.0.$1108033.0.1.0.0">
                                            <span data-reactid=".0.1.0.1.1.0.$1108033.0.1.0.1"></span>
                                            <div class="colorNum" data-reactid=".0.1.0.1.1.0.$1108033.0.1.0.2">
                                                <span data-reactid=".0.1.0.1.1.0.$1108033.0.1.0.2.0">3</span>
                                                <span data-reactid=".0.1.0.1.1.0.$1108033.0.1.0.2.1">色可选</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="bd" data-reactid=".0.1.0.1.1.0.$1108033.0.2">
                                        <h4 class="name" data-reactid=".0.1.0.1.1.0.$1108033.0.2.0">
                                            <p class="newTag status" data-reactid=".0.1.0.1.1.0.$1108033.0.2.0.0">新品</p>
                                            <a href="/products/samsonite" title="英伦温莎轻雅双肩包" target="_blank" data-reactid=".0.1.0.1.1.0.$1108033.0.2.0.1">
                                                <span data-reactid=".0.1.0.1.1.0.$1108033.0.2.0.1.0"></span>
                                                <span data-reactid=".0.1.0.1.1.0.$1108033.0.2.0.1.1">英伦温莎轻雅双肩包</span>
                                            </a>
                                        </h4>
                                        <p class="price" data-reactid=".0.1.0.1.1.0.$1108033.0.2.1">
                                            <span data-reactid=".0.1.0.1.1.0.$1108033.0.2.1.0">
                                                <span data-reactid=".0.1.0.1.1.0.$1108033.0.2.1.0.0">¥</span>
                                                <span data-reactid=".0.1.0.1.1.0.$1108033.0.2.1.0.1">199.00</span>
                                            </span>
                                            <span data-reactid=".0.1.0.1.1.0.$1108033.0.2.1.1"></span>
                                            <span data-reactid=".0.1.0.1.1.0.$1108033.0.2.1.2"></span>
                                        </p>
                                        <div data-reactid=".0.1.0.1.1.0.$1108033.0.2.2"><hr data-reactid=".0.1.0.1.1.0.$1108033.0.2.2.0">
                                            <p class="desc" data-reactid=".0.1.0.1.1.0.$1108033.0.2.2.1">经典包型，时尚轻便</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item" data-reactid=".0.1.0.1.1.0.$1114011">
                                <div class="m-product j-product " data-reactid=".0.1.0.1.1.0.$1114011.0">
                                    <span data-reactid=".0.1.0.1.1.0.$1114011.0.0"></span>
                                    <div class="hd" data-reactid=".0.1.0.1.1.0.$1114011.0.1">
                                        <a href="/products/samsonite" title="26寸 纯PC拉链斜纹拉杆箱" target="_blank" data-reactid=".0.1.0.1.1.0.$1114011.0.1.0"><img
                                            src="http://yanxuan.nosdn.127.net/78fec149196179946078710fef575b29.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                            data-original="http://yanxuan.nosdn.127.net/78fec149196179946078710fef575b29.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                            alt="26寸 纯PC拉链斜纹拉杆箱"
                                            class="img img-lazyload j-lazyload  img-lazyloaded"
                                            data-reactid=".0.1.0.1.1.0.$1114011.0.1.0.0">
                                            <span data-reactid=".0.1.0.1.1.0.$1114011.0.1.0.1"></span>
                                            <div class="colorNum" data-reactid=".0.1.0.1.1.0.$1114011.0.1.0.2">
                                                <span data-reactid=".0.1.0.1.1.0.$1114011.0.1.0.2.0">3</span>
                                                <span data-reactid=".0.1.0.1.1.0.$1114011.0.1.0.2.1">色可选</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="bd" data-reactid=".0.1.0.1.1.0.$1114011.0.2">
                                        <h4 class="name" data-reactid=".0.1.0.1.1.0.$1114011.0.2.0">
                                            <p class="limitedBugTag status" data-reactid=".0.1.0.1.1.0.$1114011.0.2.0.0">限时购</p>
                                            <a href="/products/samsonite" title="26寸 纯PC拉链斜纹拉杆箱" target="_blank" data-reactid=".0.1.0.1.1.0.$1114011.0.2.0.1">
                                                <span data-reactid=".0.1.0.1.1.0.$1114011.0.2.0.1.0"></span>
                                                <span data-reactid=".0.1.0.1.1.0.$1114011.0.2.0.1.1">26寸 纯PC拉链斜纹拉杆箱</span>
                                            </a>
                                        </h4>
                                        <p class="price" data-reactid=".0.1.0.1.1.0.$1114011.0.2.1">
                                            <span data-reactid=".0.1.0.1.1.0.$1114011.0.2.1.0">
                                                <span data-reactid=".0.1.0.1.1.0.$1114011.0.2.1.0.0">¥</span>
                                                <span data-reactid=".0.1.0.1.1.0.$1114011.0.2.1.0.1">299.00</span>
                                            </span>
                                            <span data-reactid=".0.1.0.1.1.0.$1114011.0.2.1.1"></span>
                                            <span data-reactid=".0.1.0.1.1.0.$1114011.0.2.1.2"></span>
                                        </p>
                                        <div data-reactid=".0.1.0.1.1.0.$1114011.0.2.2"><hr data-reactid=".0.1.0.1.1.0.$1114011.0.2.2.0">
                                            <p class="desc" data-reactid=".0.1.0.1.1.0.$1114011.0.2.2.1">一年保修，30天保退</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item" data-reactid=".0.1.0.1.1.0.$1113019">
                                <div class="m-product j-product " data-reactid=".0.1.0.1.1.0.$1113019.0">
                                    <span data-reactid=".0.1.0.1.1.0.$1113019.0.0"></span>
                                    <div class="hd" data-reactid=".0.1.0.1.1.0.$1113019.0.1">
                                        <a href="/products/samsonite" title="20寸 PC膜拉链登机箱" target="_blank" data-reactid=".0.1.0.1.1.0.$1113019.0.1.0"><img
                                            src="http://yanxuan.nosdn.127.net/6e5453a4709cebfec0d9ac8d9d508ef0.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                            data-original="http://yanxuan.nosdn.127.net/6e5453a4709cebfec0d9ac8d9d508ef0.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                            alt="20寸 PC膜拉链登机箱"
                                            class="img img-lazyload j-lazyload  img-lazyloaded"
                                            data-reactid=".0.1.0.1.1.0.$1113019.0.1.0.0">
                                            <span data-reactid=".0.1.0.1.1.0.$1113019.0.1.0.1"></span>
                                            <div class="colorNum" data-reactid=".0.1.0.1.1.0.$1113019.0.1.0.2">
                                                <span data-reactid=".0.1.0.1.1.0.$1113019.0.1.0.2.0">4</span>
                                                <span data-reactid=".0.1.0.1.1.0.$1113019.0.1.0.2.1">色可选</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="bd" data-reactid=".0.1.0.1.1.0.$1113019.0.2">
                                        <h4 class="name" data-reactid=".0.1.0.1.1.0.$1113019.0.2.0">
                                            <span data-reactid=".0.1.0.1.1.0.$1113019.0.2.0.0"></span>
                                            <a href="/products/samsonite" title="20寸 PC膜拉链登机箱" target="_blank" data-reactid=".0.1.0.1.1.0.$1113019.0.2.0.1">
                                                <span data-reactid=".0.1.0.1.1.0.$1113019.0.2.0.1.0"></span>
                                                <span data-reactid=".0.1.0.1.1.0.$1113019.0.2.0.1.1">20寸 PC膜拉链登机箱</span>
                                            </a>
                                        </h4>
                                        <p class="price" data-reactid=".0.1.0.1.1.0.$1113019.0.2.1">
                                            <span data-reactid=".0.1.0.1.1.0.$1113019.0.2.1.0">
                                                <span data-reactid=".0.1.0.1.1.0.$1113019.0.2.1.0.0">¥</span>
                                                <span data-reactid=".0.1.0.1.1.0.$1113019.0.2.1.0.1">228.00</span>
                                            </span>
                                            <span data-reactid=".0.1.0.1.1.0.$1113019.0.2.1.1"></span>
                                            <span data-reactid=".0.1.0.1.1.0.$1113019.0.2.1.2"></span>
                                        </p>
                                        <div data-reactid=".0.1.0.1.1.0.$1113019.0.2.2"><hr data-reactid=".0.1.0.1.1.0.$1113019.0.2.2.0">
                                            <p class="desc" data-reactid=".0.1.0.1.1.0.$1113019.0.2.2.1">一年保修，30天保退</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item" data-reactid=".0.1.0.1.1.0.$1085019">
                                <div class="m-product j-product " data-reactid=".0.1.0.1.1.0.$1085019.0">
                                    <span data-reactid=".0.1.0.1.1.0.$1085019.0.0"></span>
                                    <div class="hd" data-reactid=".0.1.0.1.1.0.$1085019.0.1">
                                        <a href="/products/samsonite" title="20寸 纯PC“铝框”（非全铝）登机箱" target="_blank" data-reactid=".0.1.0.1.1.0.$1085019.0.1.0"><img
                                            src="http://yanxuan.nosdn.127.net/6aece3fc566853c801eb0f7a660fb129.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                            data-original="http://yanxuan.nosdn.127.net/6aece3fc566853c801eb0f7a660fb129.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                            alt="20寸 纯PC“铝框”（非全铝）登机箱"
                                            class="img img-lazyload j-lazyload  img-lazyloaded"
                                            data-reactid=".0.1.0.1.1.0.$1085019.0.1.0.0">
                                            <span data-reactid=".0.1.0.1.1.0.$1085019.0.1.0.1"></span>
                                            <div class="colorNum" data-reactid=".0.1.0.1.1.0.$1085019.0.1.0.2">
                                                <span data-reactid=".0.1.0.1.1.0.$1085019.0.1.0.2.0">4</span>
                                                <span data-reactid=".0.1.0.1.1.0.$1085019.0.1.0.2.1">色可选</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="bd" data-reactid=".0.1.0.1.1.0.$1085019.0.2">
                                        <h4 class="name" data-reactid=".0.1.0.1.1.0.$1085019.0.2.0">
                                            <span data-reactid=".0.1.0.1.1.0.$1085019.0.2.0.0"></span>
                                            <a href="/products/samsonite" title="20寸 纯PC“铝框”（非全铝）登机箱" target="_blank" data-reactid=".0.1.0.1.1.0.$1085019.0.2.0.1">
                                                <span data-reactid=".0.1.0.1.1.0.$1085019.0.2.0.1.0"></span>
                                                <span data-reactid=".0.1.0.1.1.0.$1085019.0.2.0.1.1">20寸 纯PC“铝框”（非全铝）登机箱</span>
                                            </a>
                                        </h4>
                                        <p class="price" data-reactid=".0.1.0.1.1.0.$1085019.0.2.1">
                                            <span data-reactid=".0.1.0.1.1.0.$1085019.0.2.1.0">
                                                <span data-reactid=".0.1.0.1.1.0.$1085019.0.2.1.0.0">¥</span>
                                                <span data-reactid=".0.1.0.1.1.0.$1085019.0.2.1.0.1">349.00</span>
                                            </span>
                                            <span data-reactid=".0.1.0.1.1.0.$1085019.0.2.1.1"></span>
                                            <span data-reactid=".0.1.0.1.1.0.$1085019.0.2.1.2"></span>
                                        </p>
                                        <div data-reactid=".0.1.0.1.1.0.$1085019.0.2.2"><hr data-reactid=".0.1.0.1.1.0.$1085019.0.2.2.0">
                                            <p class="desc" data-reactid=".0.1.0.1.1.0.$1085019.0.2.2.1">一年保修，30天保退</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item" data-reactid=".0.1.0.1.1.0.$1085012">
                                <div class="m-product j-product " data-reactid=".0.1.0.1.1.0.$1085012.0">
                                    <span data-reactid=".0.1.0.1.1.0.$1085012.0.0"></span>
                                    <div class="hd" data-reactid=".0.1.0.1.1.0.$1085012.0.1">
                                        <a href="/products/samsonite" title="弹力防水潜水料MAC内胆包" target="_blank" data-reactid=".0.1.0.1.1.0.$1085012.0.1.0"><img
                                            src="http://yanxuan.nosdn.127.net/5788c8a73b845bab4deeb5ad6ef4c53b.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                            data-original="http://yanxuan.nosdn.127.net/5788c8a73b845bab4deeb5ad6ef4c53b.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                            alt="弹力防水潜水料MAC内胆包"
                                            class="img img-lazyload j-lazyload "
                                            data-reactid=".0.1.0.1.1.0.$1085012.0.1.0.0">
                                            <span data-reactid=".0.1.0.1.1.0.$1085012.0.1.0.1"></span>
                                            <span data-reactid=".0.1.0.1.1.0.$1085012.0.1.0.2"></span>
                                        </a>
                                    </div>
                                    <div class="bd" data-reactid=".0.1.0.1.1.0.$1085012.0.2">
                                        <h4 class="name" data-reactid=".0.1.0.1.1.0.$1085012.0.2.0">
                                            <span data-reactid=".0.1.0.1.1.0.$1085012.0.2.0.0"></span>
                                            <a href="/products/samsonite" title="弹力防水潜水料MAC内胆包" target="_blank" data-reactid=".0.1.0.1.1.0.$1085012.0.2.0.1">
                                                <span data-reactid=".0.1.0.1.1.0.$1085012.0.2.0.1.0"></span>
                                                <span data-reactid=".0.1.0.1.1.0.$1085012.0.2.0.1.1">弹力防水潜水料MAC内胆包</span>
                                            </a>
                                        </h4>
                                        <p class="price" data-reactid=".0.1.0.1.1.0.$1085012.0.2.1">
                                            <span data-reactid=".0.1.0.1.1.0.$1085012.0.2.1.0">
                                                <span data-reactid=".0.1.0.1.1.0.$1085012.0.2.1.0.0">¥</span>
                                                <span data-reactid=".0.1.0.1.1.0.$1085012.0.2.1.0.1">59.00</span>
                                            </span>
                                            <span data-reactid=".0.1.0.1.1.0.$1085012.0.2.1.1"></span>
                                            <span data-reactid=".0.1.0.1.1.0.$1085012.0.2.1.2"></span>
                                        </p>
                                        <div data-reactid=".0.1.0.1.1.0.$1085012.0.2.2"><hr data-reactid=".0.1.0.1.1.0.$1085012.0.2.2.0">
                                            <p class="desc" data-reactid=".0.1.0.1.1.0.$1085012.0.2.2.1">防水防震，精致耐用</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item" data-reactid=".0.1.0.1.1.0.$1092010">
                                <div class="m-product j-product " data-reactid=".0.1.0.1.1.0.$1092010.0">
                                    <span data-reactid=".0.1.0.1.1.0.$1092010.0.0"></span>
                                    <div class="hd" data-reactid=".0.1.0.1.1.0.$1092010.0.1">
                                        <a href="/products/samsonite" title="英伦牛津布数码手拿包" target="_blank" data-reactid=".0.1.0.1.1.0.$1092010.0.1.0"><img
                                            src="http://yanxuan.nosdn.127.net/6870b4a11c35659fcfd329dae9130a78.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                            data-original="http://yanxuan.nosdn.127.net/6870b4a11c35659fcfd329dae9130a78.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                            alt="英伦牛津布数码手拿包"
                                            class="img img-lazyload j-lazyload "
                                            data-reactid=".0.1.0.1.1.0.$1092010.0.1.0.0">
                                            <span data-reactid=".0.1.0.1.1.0.$1092010.0.1.0.1"></span>
                                            <span data-reactid=".0.1.0.1.1.0.$1092010.0.1.0.2"></span>
                                        </a>
                                    </div>
                                    <div class="bd" data-reactid=".0.1.0.1.1.0.$1092010.0.2">
                                        <h4 class="name" data-reactid=".0.1.0.1.1.0.$1092010.0.2.0">
                                            <span data-reactid=".0.1.0.1.1.0.$1092010.0.2.0.0"></span>
                                            <a href="/products/samsonite" title="英伦牛津布数码手拿包" target="_blank" data-reactid=".0.1.0.1.1.0.$1092010.0.2.0.1">
                                                <span data-reactid=".0.1.0.1.1.0.$1092010.0.2.0.1.0"></span>
                                                <span data-reactid=".0.1.0.1.1.0.$1092010.0.2.0.1.1">英伦牛津布数码手拿包</span>
                                            </a>
                                        </h4>
                                        <p class="price" data-reactid=".0.1.0.1.1.0.$1092010.0.2.1">
                                            <span data-reactid=".0.1.0.1.1.0.$1092010.0.2.1.0">
                                                <span data-reactid=".0.1.0.1.1.0.$1092010.0.2.1.0.0">¥</span>
                                                <span data-reactid=".0.1.0.1.1.0.$1092010.0.2.1.0.1">89.00</span>
                                            </span>
                                            <span data-reactid=".0.1.0.1.1.0.$1092010.0.2.1.1"></span>
                                            <span data-reactid=".0.1.0.1.1.0.$1092010.0.2.1.2"></span>
                                        </p>
                                        <div data-reactid=".0.1.0.1.1.0.$1092010.0.2.2"><hr data-reactid=".0.1.0.1.1.0.$1092010.0.2.2.0">
                                            <p class="desc" data-reactid=".0.1.0.1.1.0.$1092010.0.2.2.1">精美外观，贴心多功能设计</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item" data-reactid=".0.1.0.1.1.0.$1108034">
                                <div class="m-product j-product " data-reactid=".0.1.0.1.1.0.$1108034.0">
                                    <span data-reactid=".0.1.0.1.1.0.$1108034.0.0"></span>
                                    <div class="hd" data-reactid=".0.1.0.1.1.0.$1108034.0.1">
                                        <a href="/products/samsonite" title="商务出行多功能双肩包" target="_blank" data-reactid=".0.1.0.1.1.0.$1108034.0.1.0"><img
                                            src="http://yanxuan.nosdn.127.net/c88e82891eeb96cc5e03ace2b7dc3dc3.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                            data-original="http://yanxuan.nosdn.127.net/c88e82891eeb96cc5e03ace2b7dc3dc3.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                            alt="商务出行多功能双肩包"
                                            class="img img-lazyload j-lazyload "
                                            data-reactid=".0.1.0.1.1.0.$1108034.0.1.0.0">
                                            <span data-reactid=".0.1.0.1.1.0.$1108034.0.1.0.1"></span>
                                            <span data-reactid=".0.1.0.1.1.0.$1108034.0.1.0.2"></span>
                                        </a>
                                    </div>
                                    <div class="bd" data-reactid=".0.1.0.1.1.0.$1108034.0.2">
                                        <h4 class="name" data-reactid=".0.1.0.1.1.0.$1108034.0.2.0">
                                            <span data-reactid=".0.1.0.1.1.0.$1108034.0.2.0.0"></span>
                                            <a href="/products/samsonite" title="商务出行多功能双肩包" target="_blank" data-reactid=".0.1.0.1.1.0.$1108034.0.2.0.1">
                                                <span data-reactid=".0.1.0.1.1.0.$1108034.0.2.0.1.0"></span>
                                                <span data-reactid=".0.1.0.1.1.0.$1108034.0.2.0.1.1">商务出行多功能双肩包</span>
                                            </a>
                                        </h4>
                                        <p class="price" data-reactid=".0.1.0.1.1.0.$1108034.0.2.1">
                                            <span data-reactid=".0.1.0.1.1.0.$1108034.0.2.1.0">
                                                <span data-reactid=".0.1.0.1.1.0.$1108034.0.2.1.0.0">¥</span>
                                                <span data-reactid=".0.1.0.1.1.0.$1108034.0.2.1.0.1">239.00</span>
                                            </span>
                                            <span data-reactid=".0.1.0.1.1.0.$1108034.0.2.1.1"></span>
                                            <span data-reactid=".0.1.0.1.1.0.$1108034.0.2.1.2"></span>
                                        </p>
                                        <div data-reactid=".0.1.0.1.1.0.$1108034.0.2.2"><hr data-reactid=".0.1.0.1.1.0.$1108034.0.2.2.0">
                                            <p class="desc" data-reactid=".0.1.0.1.1.0.$1108034.0.2.2.1">为短途商旅贴心设计</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item" data-reactid=".0.1.0.1.1.0.$1073004">
                                <div class="m-product j-product " data-reactid=".0.1.0.1.1.0.$1073004.0">
                                    <span data-reactid=".0.1.0.1.1.0.$1073004.0.0"></span>
                                    <div class="hd" data-reactid=".0.1.0.1.1.0.$1073004.0.1">
                                        <a href="/products/samsonite" title="科技感防盗双肩包" target="_blank" data-reactid=".0.1.0.1.1.0.$1073004.0.1.0"><img
                                            src="http://yanxuan.nosdn.127.net/c88e82891eeb96cc5e03ace2b7dc3dc3.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                            data-original="http://yanxuan.nosdn.127.net/a49027b28e6825340bdbb87d98f04f48.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                            alt="科技感防盗双肩包"
                                            class="img img-lazyload j-lazyload "
                                            data-reactid=".0.1.0.1.1.0.$1073004.0.1.0.0">
                                            <span data-reactid=".0.1.0.1.1.0.$1073004.0.1.0.1"></span>
                                            <span data-reactid=".0.1.0.1.1.0.$1073004.0.1.0.2"></span>
                                        </a>
                                    </div>
                                    <div class="bd" data-reactid=".0.1.0.1.1.0.$1073004.0.2">
                                        <h4 class="name" data-reactid=".0.1.0.1.1.0.$1073004.0.2.0">
                                            <span data-reactid=".0.1.0.1.1.0.$1073004.0.2.0.0"></span>
                                            <a href="/products/samsonite" title="科技感防盗双肩包" target="_blank" data-reactid=".0.1.0.1.1.0.$1073004.0.2.0.1">
                                                <span data-reactid=".0.1.0.1.1.0.$1073004.0.2.0.1.0"></span>
                                                <span data-reactid=".0.1.0.1.1.0.$1073004.0.2.0.1.1">科技感防盗双肩包</span>
                                            </a>
                                        </h4>
                                        <p class="price" data-reactid=".0.1.0.1.1.0.$1073004.0.2.1">
                                            <span data-reactid=".0.1.0.1.1.0.$1073004.0.2.1.0">
                                                <span data-reactid=".0.1.0.1.1.0.$1073004.0.2.1.0.0">¥</span>
                                                <span data-reactid=".0.1.0.1.1.0.$1073004.0.2.1.0.1">259.00</span>
                                            </span>
                                            <span data-reactid=".0.1.0.1.1.0.$1073004.0.2.1.1"></span>
                                            <span data-reactid=".0.1.0.1.1.0.$1073004.0.2.1.2"></span>
                                        </p>
                                        <div data-reactid=".0.1.0.1.1.0.$1073004.0.2.2"><hr data-reactid=".0.1.0.1.1.0.$1073004.0.2.2.0">
                                            <p class="desc" data-reactid=".0.1.0.1.1.0.$1073004.0.2.2.1">背部拉链设计，放心出行</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item" data-reactid=".0.1.0.1.1.0.$1099020">
                                <div class="m-product j-product " data-reactid=".0.1.0.1.1.0.$1099020.0">
                                    <span data-reactid=".0.1.0.1.1.0.$1099020.0.0"></span>
                                    <div class="hd" data-reactid=".0.1.0.1.1.0.$1099020.0.1">
                                        <a href="/products/samsonite" title="牛津布单肩斜挎包" target="_blank" data-reactid=".0.1.0.1.1.0.$1099020.0.1.0"><img
                                            src="http://yanxuan.nosdn.127.net/a8ad2434b8f96d665ffc5447dbef1915.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                            data-original="http://yanxuan.nosdn.127.net/a8ad2434b8f96d665ffc5447dbef1915.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                            alt="牛津布单肩斜挎包"
                                            class="img img-lazyload j-lazyload "
                                            data-reactid=".0.1.0.1.1.0.$1099020.0.1.0.0">
                                            <span data-reactid=".0.1.0.1.1.0.$1099020.0.1.0.1"></span>
                                            <span data-reactid=".0.1.0.1.1.0.$1099020.0.1.0.2"></span>
                                        </a>
                                    </div>
                                    <div class="bd" data-reactid=".0.1.0.1.1.0.$1099020.0.2">
                                        <h4 class="name" data-reactid=".0.1.0.1.1.0.$1099020.0.2.0">
                                            <span data-reactid=".0.1.0.1.1.0.$1099020.0.2.0.0"></span>
                                            <a href="/products/samsonite" title="牛津布单肩斜挎包" target="_blank" data-reactid=".0.1.0.1.1.0.$1099020.0.2.0.1">
                                                <span data-reactid=".0.1.0.1.1.0.$1099020.0.2.0.1.0"></span>
                                                <span data-reactid=".0.1.0.1.1.0.$1099020.0.2.0.1.1">牛津布单肩斜挎包</span>
                                            </a>
                                        </h4>
                                        <p class="price" data-reactid=".0.1.0.1.1.0.$1099020.0.2.1">
                                            <span data-reactid=".0.1.0.1.1.0.$1099020.0.2.1.0">
                                                <span data-reactid=".0.1.0.1.1.0.$1099020.0.2.1.0.0">¥</span>
                                                <span data-reactid=".0.1.0.1.1.0.$1099020.0.2.1.0.1">129.00</span>
                                            </span>
                                            <span data-reactid=".0.1.0.1.1.0.$1099020.0.2.1.1"></span>
                                            <span data-reactid=".0.1.0.1.1.0.$1099020.0.2.1.2"></span>
                                        </p>
                                        <div data-reactid=".0.1.0.1.1.0.$1099020.0.2.2"><hr data-reactid=".0.1.0.1.1.0.$1099020.0.2.2.0">
                                            <p class="desc" data-reactid=".0.1.0.1.1.0.$1099020.0.2.2.1">精简外形，便捷实用</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item" data-reactid=".0.1.0.1.1.0.$1062025">
                                <div class="m-product j-product " data-reactid=".0.1.0.1.1.0.$1062025.0">
                                    <span data-reactid=".0.1.0.1.1.0.$1062025.0.0"></span>
                                    <div class="hd" data-reactid=".0.1.0.1.1.0.$1062025.0.1">
                                        <a href="/products/samsonite" title="英伦帆布斜挎剑桥包" target="_blank" data-reactid=".0.1.0.1.1.0.$1062025.0.1.0"><img
                                            src="http://yanxuan.nosdn.127.net/9bfa35c8d4ac9ef11415de95b3cbf0a6.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                            data-original="http://yanxuan.nosdn.127.net/9bfa35c8d4ac9ef11415de95b3cbf0a6.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                            alt="英伦帆布斜挎剑桥包"
                                            class="img img-lazyload j-lazyload "
                                            data-reactid=".0.1.0.1.1.0.$1062025.0.1.0.0">
                                            <span data-reactid=".0.1.0.1.1.0.$1062025.0.1.0.1"></span>
                                            <span data-reactid=".0.1.0.1.1.0.$1062025.0.1.0.2"></span>
                                        </a>
                                    </div>
                                    <div class="bd" data-reactid=".0.1.0.1.1.0.$1062025.0.2">
                                        <h4 class="name" data-reactid=".0.1.0.1.1.0.$1062025.0.2.0">
                                            <span data-reactid=".0.1.0.1.1.0.$1062025.0.2.0.0"></span>
                                            <a href="/products/samsonite" title="英伦帆布斜挎剑桥包" target="_blank" data-reactid=".0.1.0.1.1.0.$1062025.0.2.0.1">
                                                <span data-reactid=".0.1.0.1.1.0.$1062025.0.2.0.1.0"></span>
                                                <span data-reactid=".0.1.0.1.1.0.$1062025.0.2.0.1.1">英伦帆布斜挎剑桥包</span>
                                            </a>
                                        </h4>
                                        <p class="price" data-reactid=".0.1.0.1.1.0.$1062025.0.2.1">
                                            <span data-reactid=".0.1.0.1.1.0.$1062025.0.2.1.0">
                                                <span data-reactid=".0.1.0.1.1.0.$1062025.0.2.1.0.0">¥</span>
                                                <span data-reactid=".0.1.0.1.1.0.$1062025.0.2.1.0.1">199.00</span>
                                            </span>
                                            <span data-reactid=".0.1.0.1.1.0.$1062025.0.2.1.1"></span>
                                            <span data-reactid=".0.1.0.1.1.0.$1062025.0.2.1.2"></span>
                                        </p>
                                        <div data-reactid=".0.1.0.1.1.0.$1062025.0.2.2"><hr data-reactid=".0.1.0.1.1.0.$1062025.0.2.2.0">
                                            <p class="desc" data-reactid=".0.1.0.1.1.0.$1062025.0.2.2.1">格调帆布，英伦风尚</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="m-hotRec" data-reactid=".0.1.1">
                <div class="title" data-reactid=".0.1.1.0">人气推荐</div>
                <div class="listwrap" data-reactid=".0.1.1.1">
                    <ul class="m-itemList list" data-reactid=".0.1.1.1.0">
                        <li class="item" data-reactid=".0.1.1.1.0.$1006001">
                            <div class="m-product j-product " data-reactid=".0.1.1.1.0.$1006001.0">
                                <span data-reactid=".0.1.1.1.0.$1006001.0.0"></span>
                                <div class="hd" data-reactid=".0.1.1.1.0.$1006001.0.1">
                                    <a href="/products/samsonite" title="日式多功能颈枕 针织款" target="_blank" data-reactid=".0.1.1.1.0.$1006001.0.1.0"><img
                                        src="http://yanxuan.nosdn.127.net/8514595288532f0bcbdc5c1e9d226066.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                        data-original="http://yanxuan.nosdn.127.net/8514595288532f0bcbdc5c1e9d226066.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                        alt="日式多功能颈枕 针织款"
                                        class="img img-lazyload j-lazyload f-bcf"
                                        data-reactid=".0.1.1.1.0.$1006001.0.1.0.0">
                                        <span data-reactid=".0.1.1.1.0.$1006001.0.1.0.1"></span>
                                        <div class="colorNum" data-reactid=".0.1.1.1.0.$1006001.0.1.0.2">
                                            <span data-reactid=".0.1.1.1.0.$1006001.0.1.0.2.0">4</span>
                                            <span data-reactid=".0.1.1.1.0.$1006001.0.1.0.2.1">色可选</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="bd" data-reactid=".0.1.1.1.0.$1006001.0.2">
                                    <h4 class="name" data-reactid=".0.1.1.1.0.$1006001.0.2.0">
                                        <span data-reactid=".0.1.1.1.0.$1006001.0.2.0.0"></span>
                                        <a href="/products/samsonite" title="日式多功能颈枕 针织款" target="_blank" data-reactid=".0.1.1.1.0.$1006001.0.2.0.1">
                                            <span data-reactid=".0.1.1.1.0.$1006001.0.2.0.1.0"></span>
                                            <span data-reactid=".0.1.1.1.0.$1006001.0.2.0.1.1">日式多功能颈枕 针织款</span>
                                        </a>
                                    </h4>
                                    <p class="price" data-reactid=".0.1.1.1.0.$1006001.0.2.1">
                                        <span data-reactid=".0.1.1.1.0.$1006001.0.2.1.0">
                                            <span data-reactid=".0.1.1.1.0.$1006001.0.2.1.0.0">¥</span>
                                            <span data-reactid=".0.1.1.1.0.$1006001.0.2.1.0.1">69.00</span>
                                        </span>
                                        <span data-reactid=".0.1.1.1.0.$1006001.0.2.1.1"></span>
                                        <span data-reactid=".0.1.1.1.0.$1006001.0.2.1.2"></span>
                                    </p>
                                    <span data-reactid=".0.1.1.1.0.$1006001.0.2.2"></span>
                                </div>
                            </div>
                        </li>
                        <li class="item" data-reactid=".0.1.1.1.0.$1115006">
                            <div class="m-product j-product " data-reactid=".0.1.1.1.0.$1115006.0">
                                <span data-reactid=".0.1.1.1.0.$1115006.0.0"></span>
                                <div class="hd" data-reactid=".0.1.1.1.0.$1115006.0.1">
                                    <a href="/products/samsonite" title="智能插线板" target="_blank" data-reactid=".0.1.1.1.0.$1115006.0.1.0"><img
                                        src="http://yanxuan.nosdn.127.net/230b1d5cf1f885b720a4a341abbc7b2d.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                        data-original="http://yanxuan.nosdn.127.net/230b1d5cf1f885b720a4a341abbc7b2d.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                        alt="智能插线板"
                                        class="img img-lazyload j-lazyload f-bcf"
                                        data-reactid=".0.1.1.1.0.$1115006.0.1.0.0">
                                        <span data-reactid=".0.1.1.1.0.$1115006.0.1.0.1"></span>
                                        <span data-reactid=".0.1.1.1.0.$1115006.0.1.0.2"></span>
                                    </a>
                                </div>
                                <div class="bd" data-reactid=".0.1.1.1.0.$1115006.0.2">
                                    <h4 class="name" data-reactid=".0.1.1.1.0.$1115006.0.2.0">
                                        <span data-reactid=".0.1.1.1.0.$1115006.0.2.0.0"></span>
                                        <a href="/products/samsonite" title="智能插线板" target="_blank" data-reactid=".0.1.1.1.0.$1115006.0.2.0.1">
                                            <span data-reactid=".0.1.1.1.0.$1115006.0.2.0.1.0"></span>
                                            <span data-reactid=".0.1.1.1.0.$1115006.0.2.0.1.1">智能插线板</span>
                                        </a>
                                    </h4>
                                    <p class="price" data-reactid=".0.1.1.1.0.$1115006.0.2.1">
                                        <span data-reactid=".0.1.1.1.0.$1115006.0.2.1.0">
                                            <span data-reactid=".0.1.1.1.0.$1115006.0.2.1.0.0">¥</span>
                                            <span data-reactid=".0.1.1.1.0.$1115006.0.2.1.0.1">58.00</span>
                                        </span>
                                        <span data-reactid=".0.1.1.1.0.$1115006.0.2.1.1"></span>
                                        <span data-reactid=".0.1.1.1.0.$1115006.0.2.1.2"></span>
                                    </p>
                                    <span data-reactid=".0.1.1.1.0.$1115006.0.2.2"></span>
                                </div>
                            </div>
                        </li>
                        <li class="item" data-reactid=".0.1.1.1.0.$1124007">
                            <div class="m-product j-product " data-reactid=".0.1.1.1.0.$1124007.0">
                                <span data-reactid=".0.1.1.1.0.$1124007.0.0"></span>
                                <div class="hd" data-reactid=".0.1.1.1.0.$1124007.0.1">
                                    <a href="/products/samsonite" title="德式轻量保温随手杯" target="_blank" data-reactid=".0.1.1.1.0.$1124007.0.1.0"><img
                                        src="http://yanxuan.nosdn.127.net/70d97d5a57b6b0c534005fba2783bf3b.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                        data-original="http://yanxuan.nosdn.127.net/70d97d5a57b6b0c534005fba2783bf3b.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                        alt="德式轻量保温随手杯"
                                        class="img img-lazyload j-lazyload f-bcf"
                                        data-reactid=".0.1.1.1.0.$1124007.0.1.0.0">
                                        <span data-reactid=".0.1.1.1.0.$1124007.0.1.0.1"></span>
                                        <div class="colorNum" data-reactid=".0.1.1.1.0.$1124007.0.1.0.2">
                                            <span data-reactid=".0.1.1.1.0.$1124007.0.1.0.2.0">4</span>
                                            <span data-reactid=".0.1.1.1.0.$1124007.0.1.0.2.1">色可选</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="bd" data-reactid=".0.1.1.1.0.$1124007.0.2">
                                    <h4 class="name" data-reactid=".0.1.1.1.0.$1124007.0.2.0">
                                        <span data-reactid=".0.1.1.1.0.$1124007.0.2.0.0"></span>
                                        <a href="/products/samsonite" title="德式轻量保温随手杯" target="_blank" data-reactid=".0.1.1.1.0.$1124007.0.2.0.1">
                                            <span data-reactid=".0.1.1.1.0.$1124007.0.2.0.1.0"></span>
                                            <span data-reactid=".0.1.1.1.0.$1124007.0.2.0.1.1">德式轻量保温随手杯</span>
                                        </a>
                                    </h4>
                                    <p class="price" data-reactid=".0.1.1.1.0.$1124007.0.2.1">
                                        <span data-reactid=".0.1.1.1.0.$1124007.0.2.1.0">
                                            <span data-reactid=".0.1.1.1.0.$1124007.0.2.1.0.0">¥</span>
                                            <span data-reactid=".0.1.1.1.0.$1124007.0.2.1.0.1">109.00</span>
                                        </span>
                                        <span data-reactid=".0.1.1.1.0.$1124007.0.2.1.1"></span>
                                        <span data-reactid=".0.1.1.1.0.$1124007.0.2.1.2"></span>
                                    </p>
                                    <span data-reactid=".0.1.1.1.0.$1124007.0.2.2"></span>
                                </div>
                            </div>
                        </li>
                        <li class="item" data-reactid=".0.1.1.1.0.$1092000">
                            <div class="m-product j-product " data-reactid=".0.1.1.1.0.$1092000.0">
                                <span data-reactid=".0.1.1.1.0.$1092000.0.0"></span>
                                <div class="hd" data-reactid=".0.1.1.1.0.$1092000.0.1">
                                    <a href="/products/samsonite" title="雅致皮面年历本" target="_blank" data-reactid=".0.1.1.1.0.$1092000.0.1.0"><img
                                        src="http://yanxuan.nosdn.127.net/9f2cbe6fd6537699e1b0b02710884872.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                        data-original="http://yanxuan.nosdn.127.net/9f2cbe6fd6537699e1b0b02710884872.png?imageView&amp;quality=95&amp;thumbnail=245x245"
                                        alt="雅致皮面年历本"
                                        class="img img-lazyload j-lazyload f-bcf"
                                        data-reactid=".0.1.1.1.0.$1092000.0.1.0.0">
                                        <span data-reactid=".0.1.1.1.0.$1092000.0.1.0.1"></span>
                                        <div class="colorNum" data-reactid=".0.1.1.1.0.$1092000.0.1.0.2">
                                            <span data-reactid=".0.1.1.1.0.$1092000.0.1.0.2.0">2</span>
                                            <span data-reactid=".0.1.1.1.0.$1092000.0.1.0.2.1">色可选</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="bd" data-reactid=".0.1.1.1.0.$1092000.0.2">
                                    <h4 class="name" data-reactid=".0.1.1.1.0.$1092000.0.2.0">
                                        <span data-reactid=".0.1.1.1.0.$1092000.0.2.0.0"></span>
                                        <a href="/products/samsonite" title="雅致皮面年历本" target="_blank" data-reactid=".0.1.1.1.0.$1092000.0.2.0.1">
                                            <span data-reactid=".0.1.1.1.0.$1092000.0.2.0.1.0">1件装
                                            </span>
                                            <span data-reactid=".0.1.1.1.0.$1092000.0.2.0.1.1">雅致皮面年历本</span>
                                        </a>
                                    </h4>
                                    <p class="price" data-reactid=".0.1.1.1.0.$1092000.0.2.1">
                                        <span data-reactid=".0.1.1.1.0.$1092000.0.2.1.0">
                                            <span data-reactid=".0.1.1.1.0.$1092000.0.2.1.0.0">¥</span>
                                            <span data-reactid=".0.1.1.1.0.$1092000.0.2.1.0.1">9.90</span>
                                        </span>
                                        <span data-reactid=".0.1.1.1.0.$1092000.0.2.1.1"></span>
                                        <span data-reactid=".0.1.1.1.0.$1092000.0.2.1.2"></span>
                                    </p>
                                    <span data-reactid=".0.1.1.1.0.$1092000.0.2.2"></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
