<div align="center">
    <img src="https://ww1.sinaimg.cn/large/006tNc79gy1fcsoagoz5mj30m808cabc.jpg" style="width:400px; height:150px;" alt="">
</div>

<div class ="g-detail">
  <div class="g-bd">
<div class="m-crumbs">
<a href="/">首页</a>
<span class="w-icon w-icon-arrow"></span>
<a href="/item/list?categoryId=1013001">洗护</a>
<span class="w-icon w-icon-arrow"></span>
<a href="/item/list?categoryId=1013001&amp;subCategoryId=1008001">毛巾</a>
<span class="w-icon w-icon-arrow"></span>
<span class="z-cur">2条装 格纹无捻纱款毛巾</span>
</div>
</div>

</div>
