<footer class="g-ft">
    <div class="m-ft1">
        <div class="g-row">
            <div class="item">
                <div class="m-serviceTel">
                    <h4 class="hd">客服电话</h4>
                    <p class="phone">400-2345-9989</p>
                    <p class="datetime">9:00-22:00</p>
                    <a id="j-feedback" class="w-button btn feedbackBtn" href="javascript:;">用户反馈</a>
                    <a id="j-kefu" class="w-button btn kefuBtn" href="javascript:;">在线客服</a>
                </div>
            </div>
            <div class="item">
                <div class="m-whatIsYX">
                    <h4 class="hd">江南百货</h4>
                    <p class="desc">
                        江南百货电商品牌，秉承江南集团一贯的严谨态度，我们深入世界各地，从源头全程严格把控商品生产环节，力求帮消费者甄选到最优质的商品
                    </p>
                    <div class="m-followUs">
                        <p class="title">关注我们&nbsp;:</p>
                        <div class="m-focusList">
                            <div class="m-dropdown m-dropdown-2d f-left">
                                <i class="w-icon-normal icon-normal-yixin"></i>
                                <div class="bd">
                                    <div class="wrap">
                                        <img src="http://yanxuan.nosdn.127.net/7117e381ba1bb5c2c9dfdafed7810d2e.png" alt="严选易信">
                                    </div>
                                </div>
                            </div>
                            <div class="m-dropdown m-dropdown-2d f-left">
                                <i class="w-icon-normal icon-normal-weixin"></i>
                                <div class="bd">
                                    <div class="wrap">
                                        <img src="http://yanxuan.nosdn.127.net/a3652c6bd3723412fe5099aea1502e50.png" alt="严选微信">
                                    </div>
                                </div>
                            </div>
                            <a class="f-left" href="http://weibo.com/p/1006065627773110/home?from=page_100606&amp;mod=TAB#place" target="_blank">
                                <i class="w-icon-normal icon-normal-weibo"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="m-ftAppDownload">
                    <h4 class="hd">扫码聊天</h4>
                       <img class="img" src="https://ww3.sinaimg.cn/large/006tNc79gy1fcur0a18j5j304a04e74u.jpg" style="margin-left:100px;margin-top:-20px;" alt="扫码聊天">
                    <div class="m-qrcode j-qrcode">
                        <canvas width="104" height="104" style="width: 104px; height: 104px;"></canvas>
                    </div>
                    <div class="tip">首单立减8元</div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-ft2">
        <div class="g-row">
            <ul class="m-siteEnsure">
                <li class="item">
                    <div class="inner">
                        <i class="icon w-icon-normal icon-normal-ft1"></i>
                        <p class="text">30天无忧退货</p>
                    </div>
                </li>
                <li class="item">
                    <div class="inner">
                        <i class="icon w-icon-normal icon-normal-ft2"></i>
                        <p class="text">满88元免邮费</p>
                    </div>
                </li>
                <li class="item">
                    <div class="inner">
                        <i class="icon w-icon-normal icon-normal-ft3"></i>
                        <p class="text">江南百货品质保证</p>
                    </div>
                </li>
            </ul>
            <hr>
            <div class="m-siteInfo">
                <nav class="nav">
                    <a class="text" href="/">关于我们</a>
                    <b class="split">|</b>
                    <a class="text" href="/">帮助中心</a>
                    <b class="split">|</b>
                    <a class="text" href="/">售后服务</a>
                    <b class="split">|</b>
                    <a class="text" href="/">配送与验收</a>
                    <b class="split">|</b>
                    <a class="text" href="/">商务合作</a>
                    <b class="split">|</b>
                    <a class="text" href="/">企业采购</a>
                    <b class="split">|</b>
                    <a class="text" href="/">友情链接</a>
                </nav>
                <p class="copyright">
                    江南百货集团版权所有 © 2017 &nbsp; 食品经营许可证：NJ201702181658
                </p>
            </div>
        </div>
    </div>
</footer>
